[2018-04-06 03:01] mum4k opened #1 "Change of container focus using keyboard shortcuts"
Currently the focus (which widget receives keyboard and mouse events) can only be moved by mouse clicks.

We could enhance the container so that widget focus is moved by configurable keyboard shortcuts. This would involve adding new container options and enhancing the container itself so that it processes events.

[2018-04-06 03:01] mum4k opened #2 "Container title could scroll instead of be trimmed if it is too long"

[2018-04-09 02:16] mum4k opened #3 "Support variable size container splits"
Currently both the vertical and the horizontal splits split the container exactly in the middle.

Allow for multiple sizes. Consider using predefined sizes (like SplitHalf, SplitQuarter, ...) instead of accepting number to avoid possibility of input errors.

[2018-04-14 21:07] mum4k opened #4 "Widget: Text block"
Implement a simple text block that with styling and wrapping options.

Similar to gizak/termui: https://github.com/gizak/termui/raw/master/_example/par.png

[2018-04-14 21:10] mum4k opened #5 "Widget: Table"
Implement a text table widget.

Similar to: https://github.com/yaronn/blessed-contrib/blob/master/docs/images/table.gif

Targeted features:

- Support both ASCII and Unicode text.
- API to specify columns and rows.
- API to specify sizes of columns (auto based on content, fixed or percentage).
- API to merge multiple columns and rows (colspan and rowspan).
- Support content alignment within cells.

[2018-04-14 21:11] mum4k opened #6 "Widget: Gauge"
Implement a gauge widget.

Similar to: https://github.com/gizak/termui/raw/master/_example/gauge.png
And: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/gauge.gif

[2018-04-14 21:11] mum4k opened #7 "Widget: Line chart"
Implement a line chart widget.

Similar to: https://github.com/gizak/termui/raw/master/_example/linechart.png
And: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/line.gif

Also look at: https://github.com/cjbassi/termui and the use of: https://github.com/exrook/drawille-go

[2018-04-14 21:12] mum4k opened #8 "Widget: Bar chart"
Implement a bar chart widget.

Similar to: https://github.com/gizak/termui/raw/master/_example/barchart.png
And: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/bar.gif

[2018-04-14 21:13] mum4k opened #9 "Widget: Stacked bar chart"
Implement a stacked bar chart widget.

Similar to: https://github.com/gizak/termui/raw/master/_example/mbarchart.png
And: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/stacked-bar.png

[2018-04-14 21:14] mum4k opened #10 "Widget: Sparkline"
Implement a spark line widget.

Similar to: https://github.com/gizak/termui/raw/master/_example/sparklines.png
And: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/spark.gif

[2018-04-14 21:17] mum4k opened #11 "Widget: Stacked gauge"
Implement a stacked gauge widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/stackgauge.gif

[2018-04-14 21:17] mum4k opened #12 "Widget: Donut"
Implement a doughnut widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/donut.gif

[2018-04-14 21:18] mum4k opened #13 "Widget: LCD display"
Implement an LCD display widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/lcd.gif

This widget would benefit from using the braille canvas and its resolution.

[2018-04-14 21:18] mum4k opened #14 "Widget: Rolling text"
Implement a rolling text widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/log.gif

[2018-04-14 21:19] mum4k opened #15 "Widget: Picture"
Implement a picture widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/picture.png

This widget would benefit from the higher resolution of the braille canvas.

[2018-04-14 21:19] mum4k opened #16 "Widget: Tree"
Implement a tree widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/tree.gif

[2018-04-14 21:20] mum4k opened #17 "Widget: Markdown"
Implement a markdown widget.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/markdown.png

[2018-04-21 21:26] mum4k opened #18 "Use fakewidget.Draw in tests that use the fake widget"
All tests that use the fake widget should use fakewidget.Draw or fakewidget.MustDraw when creating the expected value.

That way changes or enhancements to fakewidget will be limited to that package.

This is an example of a test that doesn't use MustDraw and instead uses primitives directly (MustBorder, MustText):
https://github.com/mum4k/termdash/blob/f72f1c2fa8f91e7866db6ae93ae721b357075c2d/con

[2018-04-23 00:31] mum4k opened #19 "Implement support for titles on containers"

[2018-04-23 00:33] mum4k opened #20 "Design and implement a keyboard trigger library"
This library would receive a stream of keyboard presses and trigger a callback on the configured key or key combination.

This would ease the development of widgets or code that uses keyboard input and wants to support multi-key shortcuts.

[2018-04-23 00:34] mum4k opened #21 "Generalize mouse state machine"
Design and implement a library that would ease detection of mouse button presses.

A press is when both the press and the release is within a defined area.

Look at the existing implementation in the focus tracking code of the container package.

[2018-05-07 11:06] mum4k opened #22 "Rename draw.Box to draw.Border"
Also add support for border title and reuse it in container.

[2018-05-07 11:07] mum4k opened #23 "Unify APIs in the draw package"
All functions should define their own option type instead of accepting cell options.

One of their options would be to take in a list of cell options.

[2018-05-07 11:44] mum4k opened #24 "Generalize alignment code and move it to the align package"

[2018-05-07 15:50] #23 closed, assigned to mum4k

[2018-05-07 16:48] #24 closed, assigned to mum4k

[2018-05-07 17:32] mum4k opened #25 "Change default alignment of widgets in the container to middle and center"

[2018-05-07 17:49] #22 closed, assigned to mum4k

[2018-05-07 17:49] #19 closed, assigned to mum4k

[2018-05-07 17:54] #25 closed, assigned to mum4k

[2018-05-08 00:12] #6 closed, assigned to mum4k

[2018-05-08 00:23] mum4k opened #26 "Generalize the concept of a partially filled box with text label"
This might be useful for more than just the Gauge widget.

The Gauge widget currently contains this logic, the idea would be to move it out elsewhere.

[2018-05-10 10:25] mum4k opened #27 "Optimize redraw of terminal"
Some ideas:
The canvas can track which cells were set and only apply those to the terminal.
Widgets can indicate if they need a redraw or if the content is still the same.
Container can redraw only those widgets that changed.

[2018-05-13 21:43] mum4k opened #29 "Support wide unicode characters"
Some unicode characters take more than one cell to be displayed.

This must be supported by the canvas.SetCell function, the draw.Text function and the text widget.

[2018-05-13 21:44] mum4k opened #30 "Support word wrapping for the text widget"
Add support for wrapping lines at the word boundaries in the text widget.

Text wrapping is already implemented, but it only wraps at character boundaries.

[2018-05-14 02:10] mum4k opened #31 "Add go report status and license link to the README"
https://github.com/gojp/goreportcard

[2018-05-14 20:44] mum4k commented on #4
Also support rolling text.

Similar to: https://github.com/yaronn/blessed-contrib/raw/master/docs/images/log.gif

[2018-05-14 20:44] mum4k commented on #14
Duplicate of #4.

[2018-05-14 20:44] #14 closed

[2018-05-15 23:06] mum4k commented on #29
Background: http://www.unicode.org/reports/tr11/

[2018-05-20 21:24] mum4k opened #37 "Remove all occurrences of utf8.RuneCountInString"
While utf8.RuneCountInString counts the number of runes, it cannot be used to determine the number of cells the text takes. Full-width runes take multiple cells.

This mostly affects the text alignment code and the gauge widget.

[2018-05-27 15:38] #4 closed

[2018-05-27 18:40] #31 closed

[2018-05-29 13:20] mum4k commented on #2
This would only work with periodic redraw, which I think we should move away from as it is fairly resource expensive.

[2018-05-29 13:20] #2 closed

[2018-05-29 13:21] mum4k commented on #27
Only going to add an option for triggered redraw instead of periodic for now.

The other optimizations can be addressed if it turns out we need it.

[2018-06-04 16:42] #29 closed

[2018-06-13 16:35] #37 closed

[2018-06-20 02:37] mum4k commented on #26
Now that we have code that aligns text in rectangle, this isn't very important anymore.

[2018-06-20 02:37] #26 closed

[2018-06-22 21:02] mum4k opened #43 "Add support for vertical text labels in the LineChart widget"
The text can either have rotated characters, or just standard text characters flowing vertically.

This would be for the X axis, so that it can display longer custom labels.

[2018-06-22 21:04] mum4k opened #44 "Add support for negative values in the LineChart widget"
So that the line can go down below the bottom axis. We could also support a LineChart supporting negative values on both the axes.

[2018-06-22 21:16] mum4k commented on #7
What we need:

1. The draw.Text() function needs to support vertically placed text to allow for labels on axes.
1. Need a draw.Line() function that draws horizontal and vertical lines and uses correct corner characters where the lines meet.
1. Need a draw.BrailleLine() function that draws lines using the Braille unicode characters (http://www.alanwood.net/unicode/braille_patterns.html).

Interesti

[2018-06-22 21:17] mum4k commented on #44
Going to target this for the first version as it is already supported in gizak/termui.

Will be included in #7

[2018-06-22 21:17] #44 closed

[2018-06-22 21:23] mum4k opened #45 "The draw.Text() function needs to support vertically placed text to allow for labels on axes."

[2018-06-22 21:23] mum4k opened #46 "Need a draw.Line() function that draws horizontal and vertical lines and uses correct corner characters where the lines meet."

[2018-06-22 21:24] mum4k opened #47 "Need a draw.BrailleLine() function that draws lines using the Braille unicode characters (http://www.alanwood.net/unicode/braille_patterns.html)."

[2018-06-22 21:26] mum4k opened #48 "Draw two axes with arranged values in the LineChart widget."

[2018-06-22 21:27] mum4k opened #49 "Support custom value labels on each of the axes."

[2018-06-22 21:27] mum4k opened #50 "Support labels for the axes."

[2018-06-22 21:28] mum4k opened #51 "Support for multiple values in the same chart (multiple lines)."

[2018-06-22 21:28] mum4k opened #52 "Display labels for the series showing the series names"
As in (https://github.com/yaronn/blessed-contrib/raw/master/docs/images/line.gif)

I.e. the USA and EUROPE in the picture.

[2018-06-22 21:29] mum4k commented on #7
Converted to project.

[2018-06-22 21:29] #7 closed

[2018-06-22 21:31] mum4k opened #53 "Draw a single line graph representing the values."

[2018-06-22 21:33] mum4k opened #54 "Support custom colors."
Should be configurable for:

1. The line graphs.
1. The axes.
1. The values displayed next to the axes.
1. The axes labels.

[2018-06-22 22:19] mum4k opened #55 "Support zooming of the LineChart."
Rotation of the mouse wheel or key presses could adjust the scale.

[2018-06-27 08:53] enverbisevac opened #57 "Text and ESC seq"
Is it possible to use with Text widget esc seq for foreground color?
Example ESC[39;49m

[2018-06-27 19:48] mum4k commented on #57
That is a good idea. I was thinking about adding a wrapper that would convert unstructured annotated text (with colors, other attributes, etc) into the cell options the API accepts currently.

Do you have a specific requirement for this to use ESC sequences? Or could it be say in something resembling the Go's text template syntax (https://godoc.org/text/template). A rough example:

---
Text in the

[2018-06-27 19:55] enverbisevac commented on #57
I think you shoud not involve any templating for example if someone want to load external file with esc seq. I resolve this issue in a way removing special characters like rexp `\x1b\[[0-9;]*m` without colors, but I think this feature is very nice to have.

[2018-06-27 20:06] mum4k commented on #57
Thanks for explaining the use case. Sounds like we specifically want to support colors in escape sequences then. I would still lean towards writing this as a separate wrapper in order to not complicate the implementation of the text widget itself.

How does a package with exported function similar to this one sound?

[code]

[2018-06-27 21:42] enverbisevac commented on #57
@mum4k at the moment this is good approach, later it should be in text widget I think

[2018-06-27 21:46] mum4k commented on #57
Great, I think we can start with this and then iterate.

Is this something you would be able to help with, or would you prefer if I take it on? The main priority is to reach the first milestone now (feature parity with termui) so I can slot it after that.

[2018-07-03 02:54] mum4k opened #60 "Invalid synchronisation in termdash_test"
The tests (specifically the after function) is currently synchronised by waiting for the event queue to empty. This isn't a good synchronisation, since the event processing code in termdash still races with the test code that evaluates the result.

Example traceback:
The command "go test ./..." exited with 0.
12.77s$ go test -race ./...
panic: runtime error: invalid memory address or nil pointer d

[2018-07-03 03:27] #8 closed, assigned to mum4k

[2018-07-03 03:27] #10 closed, assigned to mum4k

[2018-12-31 03:48] #47 closed

[2019-01-13 02:26] mum4k opened #63 "There is a potential race between Options() and Draw() calls"
This affects widgets that calculate their minimum size based on what data they currently have.

The following causes a race:
1. infra calls Options()
1. user changes values in the widget
1. infra calls Draw(), potentially not respecting the min size.

[2019-01-13 06:42] #46 closed

[2019-01-13 06:43] #48 closed

[2019-01-13 06:43] #51 closed

[2019-01-13 06:43] #53 closed

[2019-01-13 06:43] #49 closed

[2019-01-13 06:44] #54 closed

[2019-01-13 06:44] #50 closed

[2019-01-13 06:44] #45 closed

[2019-01-13 07:13] mum4k opened #65 "Widget: Text input"
Implement a widget that will allow the user to provide text input. Either single or multi-line.

[2019-01-13 08:33] mum4k opened #66 "Allow users to set 256 colors when providing cell options"

[2019-01-13 08:53] mum4k opened #67 "Support layout changes and widgets additions / removal to container at runtime"
This should start with an API design and analysis of potential use cases.

We could support dynamic additions / removal / moves of widgets at runtime.

[2019-01-14 02:58] mum4k opened #69 "Widget: PieChart"
Implement a widget that will display relative ratios of values on a pie chart.

This needs to be studied. The braille canvas gives us sub-character (cell) resolution, but we can only set the color of the entire cell. Which makes this widget a questionable investment unless we find a good solution.

[2019-01-14 03:01] #66 closed

[2019-01-14 06:16] #3 closed

[2019-01-15 12:55] mum4k opened #71 "Provide users with the ability to subscribe to keyboard and mouse events on a specific container"
I.e based on which container is focused.

[2019-01-15 13:28] mum4k opened #72 "Support padding of containers"
So widgets can have some space around themselves.

Probably a separate padding for top, bottom, left, right. These can be implemented as new container options:
https://github.com/mum4k/termdash/blob/master/container/options.go

The size of the padding should be supplied in relative terms, so that this behaves well with terminal resize. I.e. percentage of the containers width / height.

[2019-01-16 01:58] mum4k opened #73 "Support setting of different colors for container's border and title"

[2019-01-16 05:13] mum4k opened #76 "Clesnup lint issues in the code"
https://goreportcard.com/report/github.com/mum4k/termdash

[2019-01-19 15:33] mum4k opened #79 "TestRun/fails_when_the_widget_doesn't_draw seems to be racy"
Details:

$ go test -race ./...
--- FAIL: TestRun (0.90s)
    --- FAIL: TestRun/fails_when_the_widget_doesn't_draw (0.01s)
        termdash_test.go:357: Run => unexpected error: <nil>, wantErr: true

[2019-01-19 15:39] #76 closed

[2019-01-19 15:51] mum4k commented on #73
Currently the container only has one option BorderColor():
https://github.com/mum4k/termdash/blob/master/container/options.go#L268

This option sets both color of the border and color of the title text added via the BorderTitle() option:
https://github.com/mum4k/termdash/blob/master/container/options.go#L235

We could add a new BorderTitleColor() option to set the color of the title independently

[2019-01-19 17:41] mum4k opened #81 "Implement support for other line styles"
Currently only one line style is supported:

https://github.com/mum4k/termdash/blob/master/draw/line_style.go

[2019-01-21 23:22] #12 closed, assigned to mum4k

[2019-01-22 04:39] mum4k commented on #13
We will want to implement a 16-segment display library built on top of the braille canvas.

[2019-01-22 05:05] mum4k opened #83 "Cleanup code issues on go report card"
https://goreportcard.com/report/github.com/mum4k/termdash

Note: not all of the gocyclo issues should be cleaned up, some functions need to have those switch statements with many cases (like selecting a character). Similarly we don't really want to shorten tests. So the gocyclo category needs judgement.

The other categories are straightforward.

[2019-01-22 22:38] infinytum commented on #83
I've created a pull-request #84 which fixes all except the go-cyclo errors

[2019-01-22 22:47] mum4k opened #85 "Support displaying a text label under the Donut widget"
I.e. a label that will give some explanation or context for what the Donut displayes.

Something similar to this:
https://github.com/yaronn/blessed-contrib/raw/master/docs/images/donut.gif

[2019-01-23 19:57] infinytum commented on #81
I've implemented a LineStyleDouble which looks like this:

<img width="1662" alt="image" src="https://user-images.githubusercontent.com/43315617/51633224-73601700-1f51-11e9-8150-ed90feeb3ce6.png">

[2019-01-23 20:00] infinytum commented on #81
I'll open a pull-request as soon as I figured out how to not submit my commits from my other pull-request too...

[2019-01-23 23:12] mum4k commented on #81
To send this as a separate PR, I recommend creating a new fork off the devel branch, making the changes and sending a PR against it.

Let me know if you would like to get more details on this.

[2019-01-24 14:31] #83 closed

[2019-01-25 07:48] infinytum commented on #81
I cant think of any made of ASCII characters (https://theasciicode.com.ar)

If we can use Unicode, I can think of one or two more... I'd have to test that out first though

[2019-01-25 19:36] infinytum commented on #72
I've started experimenting with this.

Currently implemented are 4 new options:
[code]

On the testing part I might need some help. Currently not tested (Except for human testing)

Please see pull request #91 for code reviewing

[2019-01-25 23:03] infinytum commented on #72
Alright, I added a test which tests all 4 padding methods

[2019-01-25 23:05] activeshadow commented on #63
Is this maybe the reason why a line chart with a min value > 0 still results in the Y Axis still being drawn all the way down to zero? I have a series that is in the range of 1600 - 1800, and my Y Axis is always from 0 to  max instead of min to max.

[2019-01-25 23:09] mum4k commented on #63
That looks unrelated, this is a bug that would trigger an error when a terminal resize event happens at a particular time between getting the widget's options and drawing the widget.

What you are describing is actually a design choice I made, quite possibly because I didn't understand all the use cases. Would you mind filing a separate issue where we can discuss the use case? Once we are on the s

[2019-01-26 06:17] mum4k commented on #81
Looks great, thanks for adding both. We indeed can use unicode, but I think you already know that ;)

I will leave it up to you to close this issue, not sure if you are still working on other line styles.

[2019-01-26 06:18] mum4k opened #92 "LineChart should not anchor the Y axis at zero"
This loses precision when there are only higher positive values.

The min on the Y axis should be equal to the lowest provided value.

[2019-01-26 06:20] mum4k commented on #63
@activeshadow fyi I had some time to test this and filed #92.

[2019-01-26 06:40] infinytum commented on #72
I think a margin sounds good. Will look at the coding part asap.

[2019-01-26 06:41] infinytum commented on #81
Thank you! Currently I am out of ideas for new borders. I will file a pull request if I get more ideas.

[2019-01-26 07:13] mum4k opened #93 "Support margin around containers"
Similarly to #72 these options would clear an area outside of each of the containers.

Probably a separate margin for top, bottom, left, right. These can be implemented as new container options:
https://github.com/mum4k/termdash/blob/master/container/options.go

The size of the cleared area should be supplied in relative terms, so that this behaves well with terminal resize. I.e. percentage of the

[2019-01-26 07:14] mum4k commented on #72
Thank you, I have filed #93 to track the margin feature. If you will be looking at that too, please send it in a separate PR.

[2019-01-26 07:15] mum4k commented on #81
Sounds good, let's close this for now, we can as well follow the YAGNI principle and add it only once we need it ;)

[2019-01-26 07:15] #81 closed

[2019-01-27 00:11] activeshadow commented on #92
This worked great @mum4k thanks!

![image](https://user-images.githubusercontent.com/9335331/51794318-5152d880-218d-11e9-9474-bc5412bf8e83.png)

[2019-01-27 01:01] activeshadow commented on #92
@mum4k perhaps make it an option that can be passed to the line chart? Some people may still want it anchored at 0... especially ones already using it for that purpose.

[2019-01-27 01:09] mum4k commented on #92
Thanks for the screenshot @activeshadow, glad to see this working.

That is a valid point, we can add an option to control this behaviour. I wonder which of the two should be the default. Looking at how linecharts in spreadsheets behave - they anchor at zero by default. Would you be ok with that being the default behaviour and an option to remove the zero-anchor?

That would make this change backw

[2019-01-27 01:35] mum4k opened #95 "LineChart should limit the use of decimal digits on the Y axes"
The following screenshot demonstrates the issue:

<img width="644" alt="screen shot 2019-01-26 at 20 30 23" src="https://user-images.githubusercontent.com/5315344/51794869-62a9de00-21a9-11e9-9240-1ff25385b22e.png">

All the values are integers in the range of 1600-1800, yet the LineChart shows floating point values. This is because when the LineChart calculates the value of each cell row (called t

[2019-01-27 02:06] activeshadow commented on #92
@mum4k having it be an option and making the default value be anchored at zero so the change is backwards compatible sounds great! Thanks!

[2019-01-27 03:38] mum4k commented on #92
PR #96 is now merged into the devel branch. It adds a new linechart.YAxisAdaptive() option. Please give it a try and let me know if something doesn't work as expected.

Thanks again for pointing out that this was going to introduce a backward-incompatible change.

[2019-01-27 03:38] #92 closed

[2019-01-27 03:54] mum4k commented on #79
Not a race, but a flake, Run didn't have enough time to finish processing the error from the widget.

[2019-01-27 03:54] #79 closed

[2019-01-27 05:07] #63 closed

[2019-01-28 04:57] mum4k commented on #13
This is in progress.

[2019-02-01 02:05] jcbritobr opened #99 "Support power shell on windows 10 and mintty using msys2"
In power shell, on windows 10, the graphics get bad characters, and graphics becomes strange:
![image](https://user-images.githubusercontent.com/6579862/52098163-084bbb80-25b5-11e9-99ab-f664cf81a37a.png)

On msys2 mintty terminal, this library just dont works.

[2019-02-01 02:14] mum4k commented on #99
Thank you for the bug report. I will try to spin this up on Windows and see what can be done.

[2019-02-01 02:24] mum4k opened #100 "Explore tcell as a termbox alternative"
https://github.com/gdamore/tcell

We should add a new API wrapper like the one for termbox:
https://github.com/mum4k/termdash/tree/master/terminal/termbox

And document how users can choose termbox or tcell when initialising.

[2019-02-07 05:24] #13 closed

[2019-02-09 05:04] mum4k opened #103 "Widget: Button"
Implement a button widget.

[2019-02-09 05:06] mum4k opened #104 "Support floating / pop-up windows"
Allow creation of a new window at a screen location. This window could internally use another instance of container to reuse the existing widget drawing code.

This could be use to interact with the user, letting them press buttons, show additional data or deliver messages.

[2019-02-09 05:39] mum4k commented on #99
I have tried this today and have good and bad news.

First the good news - this seems to be working well in both the power shell and windows default console with minor tweaks. Looks like the default font both of these use doesn't support Unicode characters. But if you right-click on the top bar of the console window and choose properties, you can change the font. One of the pre-installed ones is "

[2019-02-09 05:41] mum4k commented on #99
Also take a look at these fonts which might be better than the pre-installed one:

https://math.berkeley.edu/~serganov/ilyaz.org/software/fonts/

[2019-02-10 02:07] mum4k opened #105 "Widget: Select"
Widget providing functionality similar to HTML's form <select>:

https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_select

[2019-02-10 02:08] mum4k opened #106 "Widget: datalist"
Widget providing functionality similar to HTML5's datalist element:

https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_datalist

[2019-02-10 02:09] mum4k opened #107 "Widget: Radio buttons"
Widget similar to HTML's radio buttons:

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_radio

[2019-02-10 02:10] mum4k opened #108 "Widget: checkbox"
Widget similar to HTML's checkboxes:

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_checkbox

[2019-02-10 02:17] mum4k opened #109 "Fix lint issues on goreportcard"
https://goreportcard.com/report/github.com/mum4k/termdash

Ignore the gocyclo issues, we should focus just on the lint issues.

[2019-02-10 02:18] mum4k commented on #69
Closing this for now, until we figure out how to make this pretty and readable.

[2019-02-10 02:18] #69 closed

[2019-02-10 03:45] mum4k opened #110 "256 colors should be the default color mode"

[2019-02-11 04:30] mum4k opened #111 "Constructors of all widgets should return an error"
So that options can be validated.

And while doing this - we should validate the "height" options given to Gauge.

[2019-02-11 04:32] mum4k opened #112 "Improve documentation"
- add a note on the current status of the API.
- clearly say what termdash is in the first few sentences of README.
- start a cook-book of compiled code snippets as examples.

[2019-02-11 04:33] mum4k opened #113 "Allow widgets to subscribe to global keyboard events"
We could add an option to the widget API. When returned by the widget, the infra should forward all keyboard events to this widget, not just when its container is focused.

Useful for widgets like the button, where we might want to react to Enter or Esc key regardless of the focus.

[2019-02-11 04:34] mum4k opened #114 "Widget: A slider"
Add a widget similar to Gauge that can be interacted with, i.e. adjusted by mouse or keyboard.

It could be vertical, horizontal or both. I.e. a volume control, mixer or similar.

[2019-02-11 04:37] mum4k opened #115 "Implement non-blocking event subscriber system"
We are starting to add more and more subscribers to the mouse and keyboard events. The current approach with closures doesn't scale, since any misbehaving subscriber can block or slow down the entire application.

We will want:
- ability to subscribe to all or just some events depending on even type, location? (focus)
- ensure that the infrastructure doesn't slow down, deadlock or drop events when

[2019-02-11 05:14] #110 closed

[2019-02-12 14:32] keithknott26 opened #117 "Linechart: custom labels aren't placed under correct data value"
Hello,

When no custom labels are used (default label map) the labels scale along with the data as its added to the chart. So for example if you add 1440 records the labels would read 0...1440 as you'd expect.

When a custom label map is used ( HH:MM timestamps for example), the labels don't correspond with the data. The graph simply displays as many labels as will fit on the screen and then stops

[2019-02-12 14:35] keithknott26 commented on #43
This would be very helpful!

[2019-02-12 14:37] keithknott26 commented on #55
This would be very helpful!

[2019-02-13 03:47] #21 closed

[2019-02-13 04:16] mum4k commented on #117
This is indeed a bug, thank you very much for reporting it.

[2019-02-13 04:22] mum4k commented on #43
This isn't too complicated, I think we can slot this for the next release. Stay tuned.

[2019-02-13 04:23] mum4k commented on #55
I haven't given this much thought yet, i.e. how this would work or which part of the linechart or which of the axes would be zoomed.

Maybe you could help me by describing your use case and how you would envision the zoom working?

[2019-02-13 04:33] #117 closed

[2019-02-13 04:38] mum4k commented on #117
This was fixed in a hotfix release [v0.6.1](https://github.com/mum4k/termdash/releases/tag/v0.6.1).

Please reopen if you are still seeing an issue when you build at that tag.

[2019-02-13 05:04] keithknott26 commented on #117
It's fixed! Thank you very much for taking care of this so quickly!

[2019-02-13 05:13] keithknott26 commented on #55
I'm building a data visualization app similar to termeter where you can pipe in columned data from stdin or a flat file and have it display on linegraphs. This is for visualizing data in an application environment (client server) requests per minute, etc. It would be helpful to be able to zoom in on each graph to see the spikes and in particular which precise label the data spike maps to, I like t

[2019-02-13 05:21] mum4k commented on #117
Thanks for confirming. Please don't hesitate to let me know if you see anything else that doesn't work.

[2019-02-13 05:34] mum4k opened #121 "Support anchoring or lazy-resize of the Y axis"
Discussion started in #55.

This is useful for linecharts that continuously pipe data in. By default the scale of the Y axis continuously adjusts according to the currently available min and max value in the presented data set. This can be visually unpleasant and disturbing.

Two options to consider:
**Option 1**
We could provide an option that let's the caller specify the min and max values of th

[2019-02-13 05:38] mum4k commented on #55
Re zooming - thank you for providing the screenshot and explanation. So if I understand this correctly you are interested in zooming the X, i.e. the data axis. Not the Y, i.e. the value axis, right?

Such zoom would just change the first or the last data point that is displayed on the X axis and the scale of the Y axis would adapt to the new minimum and maximum in the visible range?

Re Y anchorin

[2019-02-14 00:45] keithknott26 commented on #121
Would it be possible to combine option 1 and option 2? Where the user can set the min/max up front but then if a higher value is encountered the scale would change dynamically, currently (and formerly with termUI based termeter) I was defeating the auto scaling similar to option 1 by simply injecting the max value (of all values) as the first value in the series so that the graph wouldn't encounte

[2019-02-14 03:25] mum4k commented on #55
While looking for linecharts with zoom, I found this:

https://www.amcharts.com/demos/line-chart-with-scroll-and-zoom/

And I think it is a fairly interesting mechanic. Notice that the zoom isn't done using a mouse scroll, but instead by selecting an area on the linechart. I.e. left click + drag onto the linechart to highlight an area that should be zoomed into.

We should ignore the animation for

[2019-02-14 03:26] mum4k commented on #121
Thank you for providing the opinion, I think your solution is the best.

This too is fairly simple to implement, so I can target it into the the next release.

[2019-02-14 06:15] mum4k commented on #43
This was pushed to the devel branch and will be in the next release.

Would be great if you could test it by building from devel and update this issue if anything goes wrong.

[2019-02-14 06:15] #43 closed

[2019-02-14 07:57] keithknott26 opened #123 "Allow the user to request an unscaled X axis on the LineChart"
Hello,

[Category: Question]

As I mentioned before - fantastic work so far! One thing I found might be missing would be a way to get the width of the lineChart for when you implement scrolling behavior.

I see some functions under Container which might be helpful, is there a way to return the effective width of the linechart itself (the piece where braille gets drawn to the screen [the canvas])?

[2019-02-15 00:35] mum4k commented on #123
Thank you very much for your support @keithknott26. Please don't hesitate to open feature requests for stuff you would find useful. It will be best for the project when it gets shaped around customer use cases.

We can easily expose the terminal size or the size of the linechart graph. Sounds like you need the latter so we probably want to do that inside the linechart widget itself. We can give yo

[2019-02-15 02:38] keithknott26 commented on #123
Sure - Forgive the confusion I ended up sorting the flickering problem with the Text boxes, turns out the t.Reset() needed to be called closer to the t.Write() function so there was a minor delay in updating the text box content after the reset, resulting in screen flickering.

So I use the width of the line chart to determine how many data points I need in order to fill the canvas, so that when I

[2019-02-15 02:57] mum4k opened #124 "Text widget should allow atomic content replace"
The Write method currently only appends text:

https://github.com/mum4k/termdash/blob/34fe013ca66df93df75868f43386db104c9f1700/widgets/text/text.go#L101

If the user wants to replace the content they need to call Reset followed by Write.
https://github.com/mum4k/termdash/blob/34fe013ca66df93df75868f43386db104c9f1700/widgets/text/text.go#L82

This is racy as a redraw might happen in between. We sho

[2019-02-15 03:24] mum4k commented on #123
Thanks again @keithknott26, I know writing detailed response like this takes a lot of time. This helps a lot however, much appreciated.

Regarding the text widget - I believe we should add the ability to atomically Reset+Write - tracking this in #124.

As for the linechart, I understand the problem now. You probably know this - the line charts actually fits two values per each cell of width, becau

[2019-02-15 04:31] mum4k commented on #121
This is now available in the devel branch.

[2019-02-15 04:31] #121 closed

[2019-02-15 05:23] mum4k commented on #121
To be noted - this came with a breaking change to the LineChart API, the constructor now also returns an error.

Related to #111

[2019-02-15 05:24] #111 closed

[2019-02-15 05:42] #124 closed

[2019-02-15 07:03] keithknott26 commented on #123
This takes care of both the graph scaling when the slice is being populated with data and the size/capacity function. Perfect! This is exactly what I had in mind thank you.

[2019-02-16 01:49] mum4k commented on #123
Great, thanks for confirming. I will look into implementing this shortly.

[2019-02-16 01:53] mum4k opened #128 "Y axis should be adaptive when a custom scale is provided"
When a caller provides this option:

https://github.com/mum4k/termdash/blob/6ace35ee150ac0f918ae4de14c2daba13e2834d3/widgets/linechart/options.go#L142

It should also implicitly activate adaptive Y axis:

https://github.com/mum4k/termdash/blob/6ace35ee150ac0f918ae4de14c2daba13e2834d3/widgets/linechart/options.go#L120

Otherwise the axis remains zero-based and ignores portion of the provided custom

[2019-02-16 05:39] mum4k commented on #123
This will be pushed to the devel branch shortly. I would appreciate if you could test it and report any issues.

[2019-02-16 05:39] #123 closed

[2019-02-16 05:40] mum4k commented on #55
With the work for #123 and #21 done, this became much easier.

Going to look at this next.

[2019-02-16 06:13] #128 closed

[2019-02-16 08:46] keithknott26 commented on #55
Being able to select a portion of the line graph with the mouse and dragging to the left or right to select a series of "cells" would zoom in on the graph and put the appropriately "scaled" labels underneath? This is a fantastic idea, I considered suggesting exactly this but figured it would be too difficult to implement. Thank you for taking this on, I'm happy to help test it when you're done, th

[2019-02-16 20:38] keithknott26 commented on #123
@mum4k - Im having trouble figuring out how to use the Options of the line chart.  I was trying something like this:

lc := linechart.New(linechart.
		linechart.AxesCellOpts(cell.FgColor(cell.ColorNumber(GraphAxes))),
		linechart.YLabelCellOpts(cell.FgColor(cell.ColorNumber(GraphYLabels))),
		linechart.XLabelCellOpts(cell.FgColor(cell.ColorNumber(GraphXLabels))),
		linechart.YAxisCustomScale(0, 10

[2019-02-16 20:41] mum4k commented on #123
Considering the context of this issue, you probably want the new X axis option:

https://github.com/mum4k/termdash/blob/66599a4d12f0c32c5a8bc8439282951967fa051c/widgets/linechart/options.go#L166

If that doesn't do what you wanted, can you help me by describing the expected behavior and the one observed?

[2019-02-18 01:10] keithknott26 commented on #123
@mum4k ,

I finally had a chance to test this out with a large dataset and it looks like it's scrolling as expected! When the X-Axis fills up with enough values it starts removing values ( and the labels) from the front of the graph.

I've included a screenshot showing both scenarios (XAxisUnscaled on Top, w/out that option on Bottom). In the top graph you can observe the labels/data scrolling by

[2019-02-18 01:20] mum4k commented on #123
That looks really good @keithknott26, thank you again for taking the time, testing the features and confirming.

Out of curiosity - how are you aligning the text in the two containers containing the statistics? If that is a plain Text widget - this is going to become easier for you once we will have the planned Table widget mentioned #5 implemented.

[2019-02-18 02:41] keithknott26 commented on #123
@mum4k  - I'm using a mixture of tabs and spaces, it works well enough as long as the numbers don't grow too large.

I was thinking of raising an enhancement to add the ability to draw a data average line across the linechart canvas. It can be achieved outside the linechart as well by adding another series and changing the line color - or is functionality something you'd prefer to keep outside of

[2019-02-18 02:51] keithknott26 opened #131 "Implement a speedometer type gauge"
Consider implementing a speedometer / tachometer type gauge where you can set the 0 and max value. Similar to the donut but can be used for reporting network throughput or latency metrics for example.

![59f64d0d-652d-49c5-b203-1974ac4922d9](https://user-images.githubusercontent.com/16966683/52925208-ec4e5680-32e4-11e9-96ab-d9cf7c33cb41.jpeg)

[2019-02-18 03:12] mum4k opened #132 "Looks like we have an off-by-one bug on the graph width calculation in LineChart"
Specifically here:

https://github.com/mum4k/termdash/blob/34fe013ca66df93df75868f43386db104c9f1700/widgets/linechart/axes/axes.go#L176

This statement makes the last cell inaccessible. Needs investigation though, as the rest of the infra and the unit test seem to account for this.

No serious impact, this will result in a larger than necessary gap (one cell) in some scenarios when drawing the lin

[2019-02-18 06:41] mum4k commented on #131
This is a great idea, thanks for suggesting it.

Most of the code written for the donut widget is reusable here, so this won't be too much work. The only thing that we have to figure out is how to handle the two colors (where they meet on the half-circle).

Specifically the braille canvas gives us sub-cell resolution (pixels). However when it comes to colors, we can only set color on the entire ce

[2019-02-18 06:48] mum4k commented on #123
My first instinct is to conclude that this is something that doesn't need to be on the LineChart widget itself. As you noted - given that the caller controls the data, it is trivial to calculate this outside. So I am not sure what value we would add by implementing it here.

Please do open a feature request if you will encounter any issues implementing this, in which case we can look into enhancin

[2019-02-18 06:50] mum4k commented on #55
This is now available in the devel branch.

I would appreciate if you could give it a try. If all looks good we could release what's in the devel branch, since we have accumulated a few features by now.

[2019-02-18 06:50] #55 closed

[2019-02-18 06:51] keithknott26 commented on #123
I tend to agree, given how easy it was to implement outside the Linechart it doesn't make much sense to include it in the lower level code.

Happy to hear you added support for zooming I'll test that next!

[2019-02-18 07:14] #109 closed

[2019-02-18 19:38] mum4k opened #135 "Don't zoom the linechart if just one cell row is highlighted"
We should not zoom on a single mouse click, it can be confusing and unintended.

[2019-02-18 19:53] mum4k opened #136 "XAxisUnscaled doesn't play well with zoom making unzoom impossible"
When data are continuously coming in, it is impossible to fully unzoom when XAxisUnscaled.

We should return the zoom tracker back to unzoomed state once we hit the "baseX" view.

[2019-02-18 19:56] mum4k commented on #136
Secondly when we zoom in and out while the baseX is allowed to scroll, there is a scenario where min > max. Needs investigation:

---
panic: container.Draw => error: unable to draw widget *linechart.LineChart: failed to create zoomed X axis: invalid min:316, max:311, must be min <= max

goroutine 1 [running]:
main.main()
        /Users/mum4k/go/src/github.com/mum4k/termdash/widgets/linechart/linec

[2019-02-18 20:15] mum4k commented on #135
Fixed in the devel branch.

[2019-02-18 20:15] #135 closed

[2019-02-18 20:20] mum4k commented on #136
These are two separate issues:

1. The FSM of the zoom tracker never gets back to the fully unzoomed state.
2. We have a very basic race - LineChart.Mouse isn't protected by mutex. This causes a race between a mouse event and a redraw.

[2019-02-18 20:22] mum4k commented on #115
We should however drop events towards the slow subscriber, so that we can't have backlog longer than X.

[2019-02-18 23:53] mum4k commented on #136
Fixed in the devel branch.

[2019-02-18 23:53] #136 closed

[2019-02-19 03:25] mum4k opened #139 "Zoomed view should also roll when XAxisUnscaled"
Currently the zoomed view doesn't handle the case where the area we zoom on runs rolls out of the base axis.

[2019-02-19 03:43] keithknott26 opened #141 "Consider adding a feature to scroll left and right through the dataset when XUnscaled is used"
I'm not sure if this is something you'd want to add, but consider a feature where the dataset can be reviewed by scrolling left and right on the trackpad. So for example today the XUnscaled option allows scrolling right to left, navigating left on the trackpad would scroll back through the dataset revealing the previously hidden cells/labels and scrolling right would navigate forward in the datase

[2019-02-19 03:46] mum4k commented on #141
I like the idea, I think this is a worthwhile feature to add and it will nicely enhance the XAxisUnscaled behavior.

Unless you feel this is very important I would not prioritize it though. I would like to add features that will enable dynamic layout changes and pop-up windows so that we can create more interactive applications (#67, #104 and #103).

[2019-02-19 03:49] mum4k opened #142 "Support event throttling towards slow subscribers"
When #115 will be implemented, we should add smart event throttling. E.g. when multiple mouse scroll events go towards the LineChart and the LineChart is slow to process them, tail-drop some of the repetitive events.

[2019-02-19 03:54] keithknott26 commented on #141
I'd agree, I was looking forward to those as well

[2019-02-19 03:56] mum4k commented on #141
Thanks for your understanding @keithknott26, I will start looking into those. However if you find some serious bug or a missing feature, feel free to file an issue and start a discussion.

[2019-02-20 02:52] pathbox opened #144 "panic: line style LineStyleLight line part linePartHAndUp is a rune ┴ with width 2, all parts must be half-width runes (width of one)"
Hi,
    I run the code from `https://github.com/mum4k/termdash/blob/master/widgets/gauge/gaugedemo/gaugedemo.go` in my Mac, but it panic:

[code]
I don't know the reason

It can't run in macOS(10.14.3) ?

I try another demo, the same question is happened,too.

I find the source code is:

[code]

It seems that it is  about rune width of the `hAndUp  '┴'`, I don't know how to solve it

[2019-02-20 03:49] mum4k commented on #144
Hi, thank you for the bug report. I can confirm that this indeed does work on MacOS, since that is my primary OS.

In order to troubleshoot - could you provide a few more information about your environment? Specifically:

1. What terminal application do you use on MacOS?
1. Can you copy&pate the output of the following command from the terminal application?
[code]

[2019-02-20 06:51] pathbox commented on #144
@mum4k
terminal application is zsh+ITerm

env | egrep "LANG|CTYPE" is:
[code]

[2019-02-20 06:52] #139 closed

[2019-02-20 06:57] mum4k commented on #144
Thank you. Termdash only supports the UTF-8 locale. Characters in other locales might map to different width based on context which resulted in the reported error. Although we should probably improve the error...

To confirm - could you try setting these to en_US.UTF-8 and retry?

That is:
[code]

And run any of the demos? Please let me know if that helps.

[2019-02-21 02:44] pathbox commented on #144
@mum4k Yes, you are right.  I do this:

[code]
then it works.

Do you have the solution about this question? Or you can do some warning in the README

Thank you very much

[2019-02-21 02:52] mum4k commented on #144
Thank you for confirming this. I think I have a solution. Termdash uses certain characters for drawing (like the line character in the panic) which can have "ambiguous" width in some East-Asian locales.(http://www.unicode.org/reports/tr11/).

This means that the number of cells they occupy depends on the context (the surrounding characters). The library we use to determine the width defensively re

[2019-02-21 07:00] #115 closed

[2019-02-22 02:29] pathbox commented on #144
I am glad to test it afterwards

[2019-02-22 05:20] mum4k commented on #144
Thank you again for the bug report. I have pushed the fix into the [devel branch](https://github.com/mum4k/termdash/tree/devel). It isn't released into master yet, but I would appreciate if you could try building from the devel branch.

Can you confirm if it starts without the workaround? You shouldn't need to change the locale anymore.

[2019-02-22 05:20] #144 closed

[2019-02-22 05:42] #113 closed

[2019-02-22 05:48] mum4k opened #147 "Consider adding interactive elements at the container layer"
We could add infrastructure level elements like buttons or drop down menus that would be rendered at the container's border.

E.g. a drop down menu and a button:
[code]

Possible use case is a multi-widget container. A drop down menu would select which widget to display in the container. When defined generically enough, this could be used for various purposes where the user wants to interact with

[2019-02-23 03:21] mum4k commented on #99
Please feel free to let me know if you have further questions.

[2019-02-23 03:21] #99 closed

[2019-02-23 04:41] mum4k opened #148 "LineChart doesn't track mouse events if the terminal size increases"
It sets the mouse state machine once with the initial canvas size and never updates the area.

[2019-02-24 00:40] #103 closed

[2019-02-24 01:23] mum4k opened #150 "Implement mouse driven container resize"
This would allow the user to click on a border between two containers and drag it left/right or up/down.

[2019-02-24 01:51] mum4k commented on #148
Fixed directly in the devel branch.

[2019-02-24 01:51] #148 closed

[2019-02-24 05:16] mum4k commented on #112
Started wiki and clearly marked public API surface.

[2019-02-24 05:16] #112 closed

[2019-02-25 02:55] mum4k opened #156 "Move fakewidget into the internal subdirectory"
It is only meant to be used in tests for the infrastructure and should be private to Termdash.

[2019-02-25 03:36] #156 closed

[2019-02-27 03:08] pathbox commented on #144
Hi，I try the devel branch ， it panic：
[code]

the `draw` folder is missing

[2019-02-27 03:34] mum4k commented on #144
Thank you for finding the time and testing this. Is it possible that you made some local edits to the gaugedemo? I am asking because looking at the gaugedemo, it actually doesn't import "draw" anymore.

https://github.com/mum4k/termdash/blob/275d95ad418b6ecca8817de4b013b440fc9abbe6/widgets/gauge/gaugedemo/gaugedemo.go#L23-L29

Can you also make sure you are synced to the latest commit on the devel

[2019-02-27 07:09] pathbox commented on #144
Yeah,  and I test the code, it works fine,  you fix it, it is good~

[2019-02-27 19:05] mum4k commented on #144
Thank you very much for confirming.

[2019-03-02 22:58] mum4k opened #158 "Consider a mode where termdash owns part of the screen"
Currently Termdash takes over the entire screen.

It might be interesting to allow use cases where the caller wants to position Termdash widgets on some part or parts of the screen, but they want to directly control the rest.

This is very likely related to #104, if we allow some work of layered approach to the terminal, this might not be necessary.

[2019-03-02 22:59] mum4k opened #159 "Race in termdash_test"
Race is here:

https://github.com/mum4k/termdash/blob/275d95ad418b6ecca8817de4b013b440fc9abbe6/termdash_test.go#L611-L616

Must wait for EDS to be empty, not just queue. Waiting for the queue doesn't guarantee that the receiver processed the event.

[2019-03-02 23:26] #159 closed

[2019-03-02 23:26] #30 closed

[2019-03-03 01:40] keithknott26 opened #162 "Entire canvas not used when specifying a large number of Bars in the barChart"
Hello,

Nice work on the button!

I was experimenting with different widgets and I found that when you specify a large number of bars (50+) for the barchart, that the barchart doesn't use the whole canvas like it does when there are say... 10 bars in use. Is this because of the text trimming that is taking place inside the bars? I have the showValues() option enabled.

10 Bars:
![image](https://us

[2019-03-03 02:52] mum4k commented on #162
Hello and thanks again for the feedback and for staying in touch. Sure, we can add ValueCapacity for BarChart too. And probably for Sparkline as well as this seems to be useful to the callers.

Regarding the problem you described - this isn't because of the text trimming, but because the terminal is cell based. The BarChart ensures that all the bars have the same width, so when the chosen widts is

[2019-03-03 05:28] mum4k opened #164 "Implement a scrollbar for widgets that support scrolling"
For now that would be Text and Table.

The scrollbar should give a visual aid to the relative location of scrolling and allow clicking to scroll faster or skip larger portions of the data.

[2019-03-03 05:54] keithknott26 commented on #162
I think if something like valueCapacity is enabled there would be less need for option 1 or 2, but I lean towards option 2 since having unequal bar widths would be less visually appealing.. unequal spacing between the bar may also be less noticeable to the end user.

[2019-03-03 06:46] mum4k commented on #162
Sounds good, let me try and implement the ValueCapacity first.

I am hoping to get your feedback afterwards on whether (1) or (2) is still needed.

[2019-03-03 07:37] mum4k opened #165 "Container might not need to calculate area size upon construction"
When the container is created, it pre-calculates areas for the root:

https://github.com/mum4k/termdash/blob/275d95ad418b6ecca8817de4b013b440fc9abbe6/container/container.go#L79

And for any children:
https://github.com/mum4k/termdash/blob/275d95ad418b6ecca8817de4b013b440fc9abbe6/container/container.go#L164
https://github.com/mum4k/termdash/blob/275d95ad418b6ecca8817de4b013b440fc9abbe6/container/co

[2019-03-03 07:45] #72 closed

[2019-03-03 07:45] #93 closed

[2019-03-03 23:21] mum4k commented on #162
Both the BarChart and the SparkLine widgets now expose a ValueCapacity method. I have demonstrated this functionality in their respective demos. It is available in the devel branch.

As always feedback and suggestions are welcome.

[2019-03-03 23:21] #162 closed

[2019-03-06 01:39] keithknott26 commented on #162
Thank you!! Confirmed working for the sparklines and bar chart

[2019-03-06 21:10] mum4k commented on #162
Thank you very much for confirming.

[2019-03-07 00:21] keithknott26 opened #168 "Question: Problem with Linechart"
@mum4k,

I noticed recently that the linechart is displaying the full dataset but only half the labels, the labels should go to 23:59 but stop for some reason.

![image](https://user-images.githubusercontent.com/16966683/53922733-66dbdd80-402a-11e9-85a3-e98a901a0573.png)

I've been trying to debug things on my end but haven't had much luck in figuring out why its happening. Would you be able to ru

[2019-03-07 01:01] mum4k commented on #168
This reminds me of #117. Could you share how you are creating the linechart? I.e. The set of options you're using when creating it and when writing data values to it.

I will try to recreate this issue locally once I have this.

[2019-03-07 01:10] keithknott26 commented on #168
I agree , it's very odd. I'm not sure its a bug though because I haven't seen you mess with the line chart much since you last fixed it.  I'll keep looking on my end and let you know what I find

[code]

[2019-03-07 01:18] mum4k commented on #168
Agreed I am also unsure if this is a bug, but it is good that you have reported it. I have seen myself bring bugs back to life in the past.

I will test it and let you know.

[2019-03-07 05:12] mum4k commented on #168
I have tested this code:

[code]

And I got the following linechart:

<img width="945" alt="screenshot 2019-03-07 at 00 02 45" src="https://user-images.githubusercontent.com/5315344/53933438-66643680-406c-11e9-8f6e-af0d914347e4.png">

The same with vertical labels where space plays less of a role:

<img width="945" alt="screenshot 2019-03-07 at 00 04 06" src="https://user-images.githubusercontent.

[2019-03-08 02:43] keithknott26 commented on #168
Thank you I really appreciate you taking the time to test, I worked on this more today and found that the data is being read in faster than its being picked up by the line chart. This was one of my first projects made to learn Go so i'm still trying to figure out how to sync those two things up.  The problem is in the labelMap, it contains about half the number of labels when scrolling is turned o

[2019-03-08 03:17] keithknott26 commented on #168
One other question I had was, is there already support for triggered updates? Instead of doing periodic redraws I was hoping to update the content of each widget only if it needed it. My fan runs on my Mac whenever I run the program so I know its probably doing way too many unnecessary redraws.

[2019-03-08 05:28] mum4k commented on #168
More than happy to help @keithknott26. Thank you very much for sharing the code with me among other things I am really glad to see this used. It is a cool idea to build an application like **datadash**, great work! I will try to answer all three of your questions below, please let me know if I missed anything.

### Data races

#### The problem

Let's tackle the problem you're observing first, i.e.

[2019-03-10 02:49] keithknott26 commented on #168
Thank you for your very detailed response! I must admit I wasn't expecting you to provide so much helpful information I truly appreciate it. I wasn't aware of the race condition and it certainly explains the behavior I'm seeing when changing the timing values around. I've decided to re-write the app to include the features I mentioned, as well as remove the periodic redraws. Thank you for sharing

[2019-03-10 05:04] mum4k opened #169 "Container's focus tracker doesn't track expanded area"
When the terminal resizes (specifically when its area increases) the focus tracker is never updated with the new area size.

The button FSM needs to be updated with the new area size on each Draw.

https://github.com/mum4k/termdash/blob/cd442255521798816919a6ac90a7f3a77476d7f4/container/focus.go#L67

[2019-03-10 22:30] keithknott26 opened #170 "Consider adding a widget with tabs"
Consider adding a widget that allows tabs to be placed on the screen which would appear similar to the image below

![image](https://user-images.githubusercontent.com/16966683/54092355-6f912400-4348-11e9-8db9-5782c868118f.png)

Now that the button is done perhaps some of the code can be re-used? Tabs would be named with a title, selecting a tab (via mouse click) would expose a fresh canvas that ha

[2019-03-10 22:47] mum4k commented on #170
That is a very good idea, thanks @keithknott26.

Thanks for the suggestion. This will work well with #67 since the tabs can do that (dynamically change layout).

[2019-03-10 22:53] mum4k opened #171 "Add an API that will allow creation of rows and columns programatically"
The current container API might be easy for humans to read and write, but doesn't allow creation of layouts when the number of widgets, rows or columns isn't known at compile time.

[2019-03-10 22:56] mum4k commented on #168
Happy to help @keithknott26, feel free to let me know if you will have any further questions. Do note that keyboard and mouse events are also coming from a different goroutine all the way form termbox. I also noticed that you were setting some booleans from keyboard events:

https://github.com/keithknott26/datadash/blob/9ed568bfadfeba85dfb0f3d1e44a7d412fcd5ef3/cmd/datadash.go#L485

This too is a d

[2019-03-10 22:56] #168 closed

[2019-03-11 04:26] mum4k commented on #171
A new grid builder was just pushed into the devel branch. This API is better suited for generating rows and columns programmatically when their number isn't known upfront (at compile time).

The documentation is in the wiki:
https://github.com/mum4k/termdash/wiki/Grid-layout

I have also updated termdashdemo which now demonstrates both the container API and the new grid builder:

https://github.co

[2019-03-11 04:26] #171 closed

[2019-03-11 04:27] mum4k commented on #168
@keithknott26, fyi #171 is now resolved and contains details about the new grid builder (available in the devel branch). As always I would appreciate your feedback and bug reports.

[2019-03-11 05:05] #169 closed

[2019-03-19 05:14] keithknott26 opened #174 "Bug in the linechart"
Hello,

I have been experiencing an intermittent problem where the linechart panics but have been unable to reproduce it with any certainty. I found today I was lucky enough to recreate the issue over and over again by cycling through the same dataset.

I have not tried this on its own because I suspect the bug has to do with the widths of the linecharts and perhaps that empty cell at the end of t

[2019-03-19 05:33] keithknott26 commented on #174
Also wanted to know if you knew of anything that might cause this issue aside from a bug, I’ve been over the code a number of times and the labels and values are clean. Perhaps the next step is for me to reproduce this outside of the app in a single chart using the linechart demo

[2019-03-20 03:05] keithknott26 commented on #174
Hello,

A bit more info on this, I found that it doesn't matter whether or not XUnscaled() is enabled or not. I was able to capture a panic from both on/off scenarios where the failure was reported in the same position 36 out of bounds 0 <= pos <= 35 with different data. The panic appears to be caused when I set the labelMap.

Hopefully this helps, if there's anything specific you wanted me to try

[2019-03-20 03:11] mum4k commented on #174
Thank you @keithknott26, this is a great amount of debugging data and I have a theory of where this bug lives. I will try to reproduce this locally.

I think you also asked if there is a way to avoid the panic and continue instead. I am assuming that you are running using the periodic redraws. If so, you can provide your own error handler which will avoid the panic. Documented here:

https://githu

[2019-03-20 05:04] mum4k commented on #174
One thing that could help - if at all possible could you share the full code on your end that you are using to reproduce this panic?

[2019-03-20 05:58] keithknott26 commented on #174
I'm happy to share the code, it's the data that might be the problem. The dashboard effectively tails a log file and then picks out certain log lines and uses the metrics to build the line chart(s). The thing is, it uses time.Now() when looking at the log line so unless you're tailing the log live you wont be able to reproduce the same scenario.  There are something like 14 charts in total but a c

[2019-03-21 02:48] mum4k commented on #174
Thank you @keithknott26, that helped a lot. I have a theory and a proof now, so I believe this one is almost tackled.

Interestingly enough this is again a data race, this time one that is between both datadash and termdash.

**Background:** as you probably know, a slice in Go is implemented as a pointer to the underlying array that holds the data. That array can sometimes be changed when appendin

[2019-03-21 03:44] mum4k commented on #174
@keithknott26, the fix has been merged into the devel branch. I would appreciate if you could confirm that this works or reopen this issue if it reoccurs.

I have also improved the error messages with additional data, so if it happens again, please do paste the new (more complete) errors.

[2019-03-21 03:44] #174 closed

[2019-03-21 08:36] keithknott26 commented on #174
Thank you for looking into this! I've confirmed this hasn't come up again after 3 hours of running about 20 or so charts. I'm planning to convert the app to use the controller based redraws this weekend, I really appreciate your help in getting this sorted

[2019-03-21 20:45] mum4k commented on #174
Of course, I am glad to hear that we have successfully tackled this one.

[2019-03-29 02:06] mum4k commented on #165
This blocks #67 and needs to be resolved first.

[2019-03-30 06:12] #67 closed

[2019-03-30 06:12] #165 closed

[2019-04-02 03:14] mum4k commented on #131
@keithknott26 marking this as assigned to you to communicate that it is being worked on.

[2019-04-02 03:19] mum4k commented on #65
We will want:
- draw "cursor" when container is focused or when registered for global keyboard
- user provided or automatic width
- single line of unicode runes
- scrolling left / right with arrows + text trimming
- ability to get content and clear atomically via:
  - API call (i.e. from another widget like a button).
  - internal trigger (i.e. pressing the Enter key).

For inspiration:
https://gi

[2019-04-02 03:35] mum4k opened #178 "The infrastructure should indicate to widgets if their container is focused"
Useful for widgets like the TextInput (#65) so it can selectively draw the cursor only when focused.

[2019-04-04 03:23] #18 closed

[2019-04-04 03:23] #178 closed

[2019-04-07 19:05] slok opened #181 "Titles on grid rows"
Hi!

Thanks for implementing this awesome library with a well-designed API.

I'm using the grid layout style but I'm missing how to add titles to the rows, I only can add titles to the widgets, and vice-versa (using containers directly I can have titles in rows but not titles on widgets).

Is this possible and I'm missing something?

Thank you!

[2019-04-07 21:08] mum4k commented on #181
Hi @slok,

thank you very much for the feedback. Your observation is correct, the current implementation of the grid API doesn't allow users to specify options for the intermediate containers.

The good news is that this was fairly easy to add. I have pushed #182 into the devel branch.

I would appreciate if you could try building from the devel branch and let me know if this works as expected.

J

[2019-04-07 21:08] #181 closed

[2019-04-07 21:26] slok commented on #181
Wow! that was fast!

I just tested and works like a charm! thanks! :)

![](https://i.imgur.com/YJNAq2q.png)

[2019-04-07 21:28] mum4k commented on #181
Thanks a lot for confirming, much appreciated.

[2019-04-08 06:26] slok opened #183 "Support "dot" character in SegmentDisplay"
Hi again @mum4k!

Displaying floats on the segment display in metrics is a common use case, the problem is that the segment display doesn't have support for point (`.`) character, would be nice to have support for this character.

Example of how it renders the floats at this moment (`0.267` without dot):

![](https://i.imgur.com/f8wsvkQ.png)

Thank you!

[2019-04-09 01:28] mum4k commented on #183
Thanks again @slok, indeed the dot character isn't supported which bothered me while I worked on the segment display.

I can't pick this up right away as I would like to land few infrastructure improvements first, but I think it is a good idea to document my original plan here. In case someone else gets to this before me.

The [SegmentDisplay](https://github.com/mum4k/termdash/blob/master/widgets/

[2019-04-09 04:14] slok commented on #183
Understood! makes a lot of sense what you say

Thanks for taking the time to explain.

[2019-04-12 05:54] slok opened #184 "Allow "no value" on lineChart"
Hi!

Would be nice to allow no values on the linechart, at this moment the linechart only supports float64 values (that defaults to `0` if no value) but sometimes you don't have values to render on the graph. A  `0` and a `nil` are two different things and could make the graph *break* by the Y axis getting very big (from 0 to N) in very high value graphs without very differences.

An example to sh

[2019-04-13 03:18] mum4k commented on #184
Thank you @slok, this certainly is an interesting use case that I didn't think about.

Luckily when it comes to the API, we might have another option that results in a compatible change. The float type can also have a special value [NaN](https://godoc.org/math#NaN), which literally means "not-a-number". So we can adjust the LineChart to skip values that are NaN.

To be able to prioritize this work

[2019-04-13 06:25] slok commented on #184
Hi @mum4k!

As always thank you for responding so fast, first of all, I didn't know about the NaN! thanks!

At this moment I'm developing a new application in my spare time (is private for now, I'll make it public when I have the basic functionality, but I'm near), this application is a simplified [_grafana_](https://grafana.com) for terminal, so you can load dashboards based on config files and r

[2019-04-13 06:45] mum4k commented on #184
Thank you for sharing the screenshot @slok, that looks really good!

Understood about the priority. I would say the change itself will have medium complexity. It doesn't require knowledge of the infrastructure of termdash, and should be completely contained within the implementation of the [linechart](https://github.com/mum4k/termdash/blob/master/widgets/linechart). However it will need to be prop

[2019-04-13 11:20] slok commented on #184
Thanks for the tips!

Checking your steps, hacking around a little bit  the code and making few changes I had good results, I need to check if I have corner cases, check the tests... but I'll do it with more calm in the following days and if everythings seems ok make the PR!

Before the changes:

![](https://i.imgur.com/DU6Ve8W.png)

After the changes:

![](https://i.imgur.com/EdxW4s5.png)

[2019-04-13 22:01] mum4k commented on #184
Great news! Please feel free to ask me if you will have any questions.

[2019-04-18 18:45] mum4k commented on #184
Fixed in the devel branch.

[2019-04-18 18:45] #184 closed

[2019-04-20 21:12] mum4k commented on #20
Made obsolete, we now do what termbox does and define separate Key types for shortcuts like Ctrl-A.

Support for the Alt modifier is outstanding, but can come later.

[2019-04-20 21:12] #20 closed

[2019-04-21 08:48] slok opened #187 "Support Y-axis custom labels"
Hi!

At this moment, X-axis supports a slice of labels to customize what is rendered on the X-axis.

I haven't seen this for the Y-axis. If this is not implemented, would be nice to have the same feature for the Y-axis. The motivation behind this is to have the ability to do something similar to this:

![](https://i.imgur.com/TKFNh21.png)

A _simple_ (without having too much knowledge about the in

[2019-04-21 21:39] mum4k commented on #187
Hello again @slok,

this is a very good point, indeed the code that places the Y Axis labels is a bit rough and unfinished. However we might be able to do better than to let the users provide custom labels. I am a bit vary of letting the user provide the labels, since it a) exposes the user to the internals of the LineChart and b) would be confusing.

(a) The LineChart owns the logic of allocating

[2019-04-22 17:10] slok commented on #187
Many thanks for your thoughts and the detailed explanation @mum4k it's a pleasure opening issues in this repository :)

I see your concerns with breaking the API, I have the same opinion.

As always I'm happy to help in whatever I can and I like what you propose, so... I'm in!

Apart from this, I understand that if you only let the users select the unit you are abstracting all the unit formatting

[2019-04-23 00:49] mum4k commented on #187
Thanks a lot @slok for persisting and rephrasing your question. Turns out I misunderstood your note when you filled this issue.

Indeed there is nothing wrong with letting the user provide an optional formatter, i.e. a function that just takes the float64 value and formats it into a string. I believe your idea is much better than mine in point (1).

I would be happy to accept a PR adding a LineCha

[2019-04-27 01:58] keithknott26 opened #190 "Text box display colors (custom colors)"
Hello,

I noticed something when working with the text box when specifying a custom color... the colors that are displayed are different from what you'd expect, you'll need to add one to the color code in order for it to show the color you were after.

[code]

Try this on your side and let me know if you get the same results.

Thanks,
Keith

[2019-04-27 02:05] keithknott26 commented on #190
I should point out that I'm using this chart, which may be different from the one you designed with. Maybe that's the issue? (https://jonasjacek.github.io/colors/)  I did notice though that when you specify a line in the linechart and then use that same color code in the text box, they don't often match up.

[2019-04-27 04:06] mum4k commented on #190
Hey @keithknott26,

thanks for reaching out. This is one of the design decisions that I am *not* proud of. The color system was implemented very early on and well I didn't know better.

See [termbox-go](https://github.com/nsf/termbox-go/blob/288510b9734e30e7966ec2f22b87c5f8e67345e3/api_common.go#L135-L145) defines value 0 not as the black color but as the default terminal color. It is used when th

[2019-04-27 06:43] keithknott26 commented on #190
Great! As always I thank you for your detailed response, your workaround works just fine! Really appreciate the help!

[2019-04-27 06:43] #190 closed

[2019-04-27 06:58] mum4k commented on #65
Implemented and pushed to the devel branch.

[2019-04-27 06:58] #65 closed

[2019-04-27 07:01] mum4k commented on #132
Closing this until we see impact that would justify a fix.

[2019-04-27 07:01] #132 closed

[2019-04-27 07:35] mum4k commented on #183
Hey @slok,

with the text input field done recently I have some spare cycles and can look at this or something else.

Would you say that this is the most important missing feature for you or would you like to see something else done first?

[2019-04-27 15:35] slok commented on #183
Hey @mum4k, first of all, thanks for asking my opinion, that means a lot :)

Regarding the issue I think is important, almost at the same level as these:

- #85
- #105 (this way the linechart can filter the series show with the selectors or change the metrics query used to retrieve the series from the metrics datasources).
- #164 (but supporting containers or elements, this way we can scroll a ful

[2019-04-27 15:44] mum4k commented on #183
Thank you @slok, this list is very helpful. The choice of what to work on is best made in the context of what users need.

I think we can close this issue and #85 fairly quickly so I will work on these two next.

We could target #105 for the next release, I would love to hear your and Keith's thoughts on how important it is compared to #104 and #5. I will open an issue for us to discuss features f

[2019-04-27 16:02] slok commented on #164
I don't know if this could be related with this or not and better be in another issue, if is the second one I'll create a new issue to track this if you see valuable and possible (effort/value).

Would be nice to mark as scrollable (vertical) any element on the terminal, this is widgets or containers (example a `row`). I don't know how it would be designed and/or implemented, but I will try to exp

[2019-04-27 19:06] keithknott26 commented on #183
@mum4k ,

It's hard to say, I know you've put significant work into #5 already, I can comment that #105 would be a very nice feature to have as I have a couple projects going on right now that could use the dropdown/select menu. I've worked around this by having the user specify arguments at startup - certainly a great addition for the user to be able to select things during runtime though. I supp

[2019-04-27 23:47] keithknott26 opened #191 "Linechart: Add support for a legend"
Consider adding support for a legend in the linechart, this is particularly useful when more than one series is used.

- Would this be best placed underneath or inside the linechart?
- If inside, what happens when the legend and the line meet?

[2019-04-28 04:33] mum4k opened #192 "Generilize scrolling and support it in the infrastructure"
Idea proposed by @slok in #164:

Would be nice to mark as scrollable (vertical) any element on the terminal, this is widgets or containers (example a row). I don't know how it would be designed and/or implemented, but I will try to explain:

In the end would be nice to get the same user experience as if you were on a web page, this is, mark a max height on the containers of the grid and if the wid

[2019-04-28 04:35] mum4k commented on #164
Thanks @slok, this a very good idea. I have filled #192 to track it. This will need some more thought as to how we design it, but I see it being very useful.

I will leave this issue to track the drawing of a scrollbar in Table and Text. However if we do our job right in #192, this might become obsolete.

[2019-04-28 04:38] mum4k commented on #192
Initial thoughts - this might require updates to the canvas. Widgets could specify (or receive) just the width of the canvas, the height becomes "unlimited". Widgets would draw all the content they want to and the canvas would throw away anything that isn't visible.

The scrolling gets more interesting when enabled on containers that contain other containers. I.e. how will the splitting work, we w

[2019-04-28 04:44] mum4k commented on #183
Thank you @keithknott26 for chiming in and helping us decide. It is true that we have made some investment into #5 already, but we can finish that at any time. To be fair it will most likely take another month to finish it so it probably is the right choice to keep it shelved until we need it.

Looks like #105 would be useful for both your projects so let's target it for 0.10.0. I also believe tha

[2019-04-28 04:51] mum4k opened #193 "[discussion] Features for Termdash 1.0.0"
It is probably a good time to start discussing what other features we want to deliver before we release version 1.0.0. For background 1.0.0 has a special meaning in [Semantic Versioning](https://semver.org/spec/v2.0.0.html), it comes with a promise of API stability all the way until 2.0.0.

Therefore we should prioritize features that might come with breaking API changes as we shouldn't be doing t

[2019-04-28 04:53] mum4k commented on #52
Closing as a duplicate, discussion continues in #191.

[2019-04-28 04:53] #52 closed

[2019-04-28 04:59] mum4k commented on #191
Agreed @keithknott26, this would indeed be a useful feature. Originally I was considering labels inside the linechart itself like here:

![](https://raw.githubusercontent.com/yaronn/blessed-contrib/master/docs/images/line.gif)

However I no longer think this is the best solution exactly due to what you described, lines might meet the legend. The infrastructure would handle that well. Depending on

[2019-04-28 23:33] mum4k commented on #191
Het @keithknott26,

as @slok demonstrated in #188, using the Text widget alongside the LineChart gives a lot of flexibility on legend placement and also allows to scroll the legend if there are many entries. This also plays well into the Termdash philosophy of reusable components.

At this point I am wondering whether instead of implementing the legend in the LineChart we shouldn't identify the ga

[2019-04-29 00:19] keithknott26 commented on #191
@mum4k,

I tried this myself locally and it looks great! I also like that @slok created a widget with multiple elements inside so there is only one border. The fact that you can scroll is a bonus.

Do you think it will be possible to use the table widget instead of the text widget? I'm just wondering how easy aligning the text would be inside the widget, for now I'm using spaces and tabs , but dep

[2019-04-29 01:30] mum4k commented on #191
I this that what @slok has are actually multiple inner containers inside an outer container. The outer container has a border and two inner containers without borders. Each of the inner containers has a widget.

Indeed similarly we could place a table widget next to the LineChart. The table widget will support individual alignment and formatting for each row and for each cell. Please take a look a

[2019-04-29 01:30] #191 closed

[2019-04-29 01:32] mum4k commented on #85
Pushed to the devel branch.

[2019-04-29 01:32] #85 closed

[2019-04-29 05:05] slok commented on #191
That's right! is a container with 2 containers Inside (one for the graph and another one for the legend), and the border set only to the outer container, so could be very easy to change the legend made with a text widget to use a table widget or any other widget instead.

[2019-05-01 03:15] mum4k commented on #183
Pushed to the devel branch.

Please let me know in case of any issues with the new code.

[2019-05-01 03:15] #183 closed

[2019-05-02 21:00] mapl commented on #99
I want to throw in some cents that Microsoft is actually improving their console.
Interesting Blog

https://devblogs.microsoft.com/commandline/

Especially https://devblogs.microsoft.com/commandline/new-experimental-console-features/ show off some good progress in their preview windows 10 builds.

[2019-05-02 21:27] mum4k commented on #99
That looks really promising, thanks @mapl. This gives us hope that termbox or tcell might be able to implement the support at some point.

[2019-05-03 02:34] mum4k commented on #106
Closing as a duplicate of #105.

[2019-05-03 02:34] #106 closed

[2019-05-03 02:50] mum4k commented on #105
Hey @slok and @keithknott26,

I have spent some time thinking about this and I don't think we have all the bits in place to implement this yet. Specifically the drop-down portion (the menu) wouldn't really work within a widget's canvas without reserving the vertical space for it. And that would not look good on terminal applications, it would just waste the space.

Looks like this widget would rea

[2019-05-04 05:11] mum4k opened #200 "faketerm.Diff doesn't seem to correctly handle partial cells"
This only has impact on the readability of test outputs.

Partial cells are cells in the buffer that should not contain a rune, because the previous cell contains a full-width unicode rune. Full-width unicode runes that two cells when printed on the terminal.

The partial cell is printed out even though it should be skipped:

[code]

The bug seems to be here, we print out the rune even if it is is

[2019-05-06 19:52] mapl commented on #99
There is coming up some neat stuff

BUILD 2019 Announcement Today

https://youtu.be/8gw0rXPMMPE

https://github.com/microsoft/terminal

[2019-05-14 02:14] mum4k opened #205 "Triggering dynamic layout change with a widget may lead to a deadlock"
Thanks to @keithknott26 for reporting this.

The deadlock can occur when a button widget is configured so that its callback calls the Update method on the container API:
https://github.com/mum4k/termdash/blob/0e5242ca6f8386889a303c67b58a25f98aed75b6/container/container.go#L228

If there is a concurrent Redraw happening at the same time, the container is mutex locked. The rest is a race, the deadlo

[2019-05-14 02:31] mum4k commented on #205
@keithknott26, when you get a chance, please build from the [205-deadlock](https://github.com/mum4k/termdash/tree/205-deadlock) branch and verify that this indeed fixes the problem.

[2019-05-16 03:18] #205 closed

[2019-05-21 04:33] keithknott26 opened #210 "App exit after zooming out"
@mum4k ,

After changing termdash to use key.keyboardEsc to quit the app, I noticed that when the app is left running for a long time (5+ hours) you can exit out of it by zooming into the linechart and quickly zooming out. I've tested this using the standard trackpad for my Macbook and noticed that when the application exits there is no panic, I do see a large number of escape characters printed t

[2019-05-21 23:55] mum4k commented on #210
Hey @keithknott26,

thanks for reporting this. It might be that termdash (or termbox) incorrectly interprets one of the mouse events as the Esc key. But something else could be happening also, we should investigate this.

One important question is - does this **only** happen after running for 5+ hours? Or can you reproduce it without the long run. If it only happens after running for a long time,

[2019-05-23 09:53] fenollp opened #213 "Can I have a row as tall as one character?"
I have adapted [the demo](https://github.com/mum4k/termdash/blob/b60c1c5fb019886cd945a537586b315831a1c03c/termdashdemo/termdashdemo.go) to use this layout:
[code]

I'm trying to get the bottom 2 gauges to always be as tall as a the XX% progress they contain (= as tall as a character).
But when I change my terminal zoom this eventually ends as text smaller than the bar and no longer vertically cent

[2019-05-24 03:09] mum4k commented on #213
Hi @fenollp, thanks for pointing this out. PR #204 recently added support for fixed size container splits. Note this hasn't been released yet and is available in the [devel](https://github.com/mum4k/termdash/tree/devel) branch only. However the PR added the support only to the [binary tree layout](https://github.com/mum4k/termdash/wiki/Binary-tree-layout). It should be trivial to add this to the [

[2019-05-24 04:32] mum4k commented on #213
This has now been pushed into the [devel](https://github.com/mum4k/termdash/tree/devel) branch.

Please give it a try and let me know if you see anything missing.

[2019-05-24 04:32] #213 closed

[2019-05-24 14:32] fenollp commented on #213
It works quite well, as long as I fix the top container height which breaks as soon as I resize the window:
[code]

[2019-05-24 14:35] mum4k commented on #213
Thanks for coming back @fenollp,

sorry not sure what you mean by "which breaks as soon as I resize the window". Does this mean we still have an issue we should improve on?

[2019-05-25 09:44] fenollp commented on #213
Actually yes, now that I'm trying the above code on a different terminal & screen resolution it appears `grid.RowHeightFixed(1, grid.Widget(w.gauge))` can take more height than the height of the characters it contains. It is fine on OSX though.

[2019-05-29 05:39] keithknott26 opened #215 "Consider adding notification panel widget"
Now that we have dynamic layouts, would it be possible to create a widget which would sit on the outer edges of the screen and would dynamically change height or width based on a ticker?

I'm thinking of a widget that looks like the notification banner on an iphone that rolls down from the top of the screen, eventually consuming a 10th of the screen.

This could be used for things like app alerts

[2019-06-05 20:41] mum4k opened #216 "Widget: Indicator"
Implement a widget that can indicate activity, like an HDD or modem light.

[2019-06-06 06:42] keithknott26 commented on #210
How would you go about fixing this piece, the complier doesn't like this line

`ioutil.WriteFile("/tmp/eventlog.txt", []byte{buff.String()}, 0644)`

"Cannot use buff.String() as type byte in array or slice literal"

I can reproduce this fairly easily the app just needs some soak time. I noticed it happens when you scroll up or down very fast after the app has been lagging doing a bunch of work for

[2019-06-06 07:07] keithknott26 commented on #210
Let me know if this helps or if you'd like me to try another approach to capture the necessary debug logging.

[code]

Another attempt resulted in the following (note i didn't hit ESC)

`got keyboard event with key: KeyEsc (-50) rune: �`

And another attempt

[code]

Seems to be easier to replicate this on a machine that's under load and responding slowly.

[2019-06-06 19:24] mum4k commented on #215
Thanks @keithknott26, this is a good idea. It will be one of the things we will be able to do when #104 are implemented, since the entire notification area can be one floating window that will gradually change its dimensions.

[2019-06-06 19:37] mum4k commented on #210
Thanks a lot Keith.Sorry, the ioutil error was actually my typo, it should have been:

[code]
Notice the regular parenthesis (i.e. type conversion) as opposed to the curly ones (i.e. type literal creation).

[2019-06-06 19:44] mum4k commented on #210
So it looks like Termdash actually gets the keyboard Esc events. The next step would be to figure out if this is a bug in Termdash or upstream.

We should move the logging up to where Termdash pulls terminal events out of Termbox, i.e. here:
https://github.com/mum4k/termdash/blob/68bf0566e6ec8effaf6e83400ef0046347a5f5f1/terminal/termbox/termbox.go#L142

We probably want to log the output of `tbx.P

[2019-06-06 21:44] keithknott26 commented on #210
Jakub,

I took your suggestion and moved the logging up to termbox.go, I was able to capture the events which lead up to the application exit and have included them below. It looks like scrolling up / down results in some variation of 'KeyEsc[<6' or 'KeyEsc[<' depending on which direction I'm going on the Macbook Pro trackpad. Could the event system be aware of these key combinations and ensure th

[2019-06-07 01:32] mum4k commented on #210
Thanks again @keithknott26, it is good to have a confirmation that these are legitimate events coming from the terminal.

Before we look for workarounds like event combining or preprocessing, it might be a good idea to get a better understanding of why this is happening. Assuming that you still have some time to dig deeper, here are a couple of questions worth investigating:

- Does this only happ

[2019-08-10 00:37] abhi opened #220 "Question: Selectable Text Box"
Thanks for a great library btw! I am having fun using it.
I am curious if I am missing an option or this is currently not supported- I am unable to select/Copy and paste words/lines from the text widget. Is there a specific option I need to set or is this currently not supported ? Would be very useful to have. Thanks!

[2019-08-13 12:41] mum4k commented on #220
Hello @abhi, that is a good question, I too noticed this but never really researched whether it is due to my terminal settings or because of how termbox initializes the terminal.

We currently don't have an option to change this behavior. We should look into the API of termbox and figure out if they offer such option:
https://github.com/nsf/termbox-go

[2019-11-04 16:05] miguelmota opened #221 "Question: How to modify border title once the widget is instantiated?"
How to modify border title once the widget is instantiated?

[2019-11-04 22:35] mum4k commented on #221
Hello @miguelmota, I am assuming you are asking about the container title? You should be able to utilize the [dynamic layout](https://github.com/mum4k/termdash/wiki/Dynamic-layout) feature.

In short you specify an ID for the container when creating it by passing this option:
https://github.com/mum4k/termdash/blob/68bf0566e6ec8effaf6e83400ef0046347a5f5f1/container/options.go#L308-L320

And then yo

[2019-12-11 22:32] miguelmota commented on #221
@mum4k makes perfect sense; thanks!

[2019-12-11 22:32] #221 closed

[2020-02-12 10:49] kvnxiao opened #222 "Still being maintained / updated?"

[2020-02-12 11:52] kvnxiao opened #223 "Does not render on Windows Terminal (preview)"
Currently using https://github.com/microsoft/terminal from the window's app store (which is still in preview since it has not officially released yet) on my Windows machine.

I'm trying to make a cross-platform terminal application but it doesn't seem to work at all through Windows Terminal, regardless of the underlying shell I use (e.g. neither cmd nor powershell work when launched through Window

[2020-02-12 21:32] mum4k commented on #222
Hello @kvnxiao, yes termdash is still maintained although there is currently no active development on it.

Do you have anything specific in mind?

[2020-02-12 21:34] mum4k commented on #223
Thank you for the bug report. I currently have no easy way to test this on windows so hoping to get some help if you have the time.

Good to hear that termbox works in the terminal. Termdash completely depends on termbox-go when it comes to rendering, so it might just be the case of some missing / different initialization of termbox. Would you be able to experiment, find the differences between ho

[2020-02-12 22:01] kvnxiao commented on #223
I can look into it sometime this week.

I have also noticed that the text demo here: https://github.com/mum4k/termdash/tree/master/widgets/text/textdemo
simply does not work on Windows, even when launched from conhost through cmd or powershell (and not Windows Terminal).

The text is mangled, and the rotating / scrolling lines of text does not show up properly.

[2020-02-12 22:07] kvnxiao commented on #222
I was simply wondering if there was a roadmap of sorts, since the README states that the API is non-stable until 1.0.0, and currently it's only at 0.10.0.

[2020-02-12 23:42] mum4k commented on #222
That is a good question. I was refraining from marking the API stable until we get all the main features in. You can take a look at the currently filed issues, those that are marked as enhancement indicate potential new features:

https://github.com/mum4k/termdash/issues?q=is%3Aissue+is%3Aopen+label%3Aenhancement

Out of these probably only one has the potential to break the API - addition of floa

[2020-02-12 23:45] mum4k commented on #223
That is interesting, do the other demos work or none of them work? I do seem to recall that there was some issue on windows around setting the right font (one that supports the unicode characters that are used to draw borders, etc). It might be unrelated though, there was some relevant discussion here: https://github.com/mum4k/termdash/issues/99

Looking forward to hear from you after you experime

[2020-02-13 09:27] kvnxiao commented on #223
FYI, here is what the textdemo one looks like running through regular conhost (directly opened through the built .exe)

![image](https://user-images.githubusercontent.com/14130413/74420235-17e11f80-4e19-11ea-9bf6-cd9945072af7.png)

[2020-02-13 10:29] kvnxiao commented on #223
For Windows Terminal:

So it seems like there is an issue with whenever an empty space exists between the text and the next element (whether the next element is another container, or the border of the current container).

![image](https://user-images.githubusercontent.com/14130413/74425161-36e3af80-4e21-11ea-84e9-432fd5c2001a.png)

If you could point me to the right directly as  to how exactly the

[2020-02-13 11:13] kvnxiao commented on #223
After further exploring,

I found that replacing the culprit was termbox-go itself with how it renders. (maybe?)

I tested using **tcell** and it's termbox api compatibility here https://github.com/gdamore/tcell/blob/master/termbox/compat.go

and guess what? **It works!**
It even works with the Chinese text.

![image](https://user-images.githubusercontent.com/14130413/74428553-4108ac80-4e27-11ea-9

[2020-02-13 14:13] mum4k commented on #223
This was really helpful investigation, thank you @kvnxiao.

I agree that pursuing #100 sounds like the right option. When I started developing Termdash, I had a replacement of termbox in mind. All the terminal interactions happen through the terminalapi layer:

https://github.com/mum4k/termdash/tree/master/terminal/terminalapi

Where termbox-go is just one implementation of that api:
https://githu

[2020-02-13 23:25] kvnxiao commented on #223
This is something I can definitely look into trying out on my own branch.

[2020-02-14 00:04] mum4k commented on #223
Great, please feel free to reach out with any questions or concerns and thank you for your help!

[2020-02-15 00:47] kvnxiao commented on #223
I've created a few commits to my forked repo with a new tcell backend that implements the terminalapi interface.

https://github.com/mum4k/termdash/compare/master...kvnxiao:master

This includes proper colour setting, keyboard, and mouse events.

There are a few caveats (differences from termbox-go) I'd like to discuss before moving forward:

1. The tcell terminal autodetects colour support by def

[2020-02-15 13:26] mum4k commented on #223
That looks really good, glad to hear it worked out. Thank you for raising the two discussion points. In general - we don't have to limit ourselves to the functionality provided by termbox-go, i.e. it would be ok to even modify terminalapi as long as it remains backward compatible with termbox-go and with the existing functionality utilised by termdash. With that said, I don't think we should attem

[2020-02-16 01:08] kvnxiao commented on #223
Do you think it would be a good idea to have some sort of build flag to choose the implementation when building a project that uses termdash, so that the other implementation simply isn’t included as a dependency, thus resulting in smaller file sizes?

I will work on the rest of the changes for the PR sometime after next week as I’ve just gotten back home for a week’s worth of break.

[2020-02-16 15:36] mum4k commented on #223
That is a good point, but I think that may already work as desired Considering that termbox and tcell are separate packages, user building termdash imports one of them, initializes the chosen terminal implementation and passes that into the container instance, e.g.:

https://github.com/mum4k/termdash/blob/68bf0566e6ec8effaf6e83400ef0046347a5f5f1/termdashdemo/termdashdemo.go#L470-L479

So if the us

[2020-02-29 07:12] kvnxiao commented on #223
Put up the PR, probably a few things will still need to be changed before it looks good to merge, let me know!

[2020-03-03 03:22] mum4k commented on #100
What is left is to solve the problem of color differences between termbox and tcell. We could approach this by adding a new color mode that will translate colors the same way termbox does. More details in the comment history of #224.

@kvnxiao, thank you for your help with #224, please let me know if you are also planning to work on the color differences, or if you would prefer I help with that.

[2020-03-04 06:16] kvnxiao commented on #100
I assume the colour differences would be a simple translation mapping between the specific colours that termbox uses. I will probably have time to update the wiki, but if it is alright with you I am hoping to ask you to help with the colour differences (I'm in my last semester of undergrad and things are ramping up for me).

[2020-03-04 14:16] mum4k commented on #100
Sounds good @kvnxiao, I will look at the color differences. Thank you very much for you help thus far and best of luck with your studies.

[2020-03-06 06:06] kvnxiao commented on #100
I've added a new wiki page here https://github.com/mum4k/termdash/wiki/Tcell-API but it's currently unlinked and not in the sidebar as the changes have not been released yet.

[2020-03-07 14:34] mum4k commented on #222
Closing as answered, please feel free to reopen if you have further questions, or comment directly in #193.

[2020-03-07 14:34] #222 closed

[2020-03-07 14:35] mum4k commented on #210
Closing as obsolete, please reopen if this still needs attention.

[2020-03-07 14:35] #210 closed

[2020-03-07 15:52] #100 closed

[2020-03-07 15:52] #223 closed

[2020-03-14 08:34] cayter commented on #57
@mum4k Thanks for the great work. Wanted to know if this is still being planned? Would you mind helping to explain why we had to forbid the escape characters as I'm pretty new to this terminal building thing? In any case, where should we implement `WriteEscapedText()` so that we can get this started? Thanks.

[2020-03-15 15:34] mum4k commented on #57
Hello @cayter and thank you for reaching out. While I don't plan to work on this in the immediate future, we certainly can work together to add this feature if needed.

First to answer your question about why we had to forbid them. Terminal escape sequences are "metadata", or hidden characters on the terminal. They don't occupy terminal cells, instead they describe how terminal cells behave (their

[2020-03-16 04:04] cayter commented on #57
@mum4k Thanks for the detailed explanation. I'm still reading through the source code and only doing this when I have free time, will try to submit a PR within the next 1 month.

[2020-03-16 21:49] mum4k commented on #57
Of course, please take your time @cayter, there is no time limit here. Feel free to let me know if you have any other questions or ideas.

[2020-03-20 11:20] cayter commented on #57
Okay, did some quick experiments within my own codebase, here's the [result](https://asciinema.org/a/v6R4F6l3FA4NFoetzLdShoLwm) and the code implementation is over [here](https://github.com/appist/appy/blob/master/cmd_start.go#L483-L614). Will find some time to port the implementation back to this repository.

Any idea when we would start supporting go modules? I find it a bit challenging to setup

[2020-03-20 16:27] mum4k commented on #57
That looks great @cayter, thanks a lot for working on this. One thing I forgot to note, if you can, please fork off and pull back to the devel branch. I have now documented it here:
https://github.com/mum4k/termdash/blob/devel/CONTRIBUTING.md

I will pull it to master at release time. Apart from that please check out the other portions of the CONTRIBUTING.md doc, there is also a requirement to sig

[2020-03-20 16:28] mum4k opened #228 "Migrate to Go Modules"
All supported Go versions now support Go modules and their addition would simplify the life of other contributors.

[2020-03-20 16:29] mum4k commented on #57
(fyi) #228 tracks migration to Go modules.

[2020-03-20 18:20] mum4k commented on #57
The devel branch is now migrated to Go modules. Please let me know if you encounter any issues while forking or developing off it.

[2020-03-20 19:19] mum4k commented on #57
Please ignore my question about whether we should add an option to enable this behavior. I remembered that we are adding a separate method so we are all good.

[2020-03-21 05:02] cayter commented on #57
Just did.

Yep. Although right now my implementation can be ported over to `Write()` but I guess we need to ensure its backward compatibility so that whoever is using this function doesn't get surprised by this behaviour change. If needed, it'd be better to accomodate the whole change in the next major version bump.

Thanks for the quick response! Will try to set that up later.

[2020-04-08 03:45] kvnxiao opened #230 "Can't create custom (third-party) widget due to 'internal' package"
Hi @mum4k , it's me again,

I've been using this library for my project pretty well so far, but I seem to have stumbled upon an issue where I cannot create a third-party custom widget that implements the `widgetapi.Widget` interface because `canvas` (and some other draw functions) are part of an internal package. This leads to Go complaining about `use of internal package not alloweduse of interna

[2020-04-08 20:12] mum4k commented on #230
Hello again @kvnxiao. You raise a good point, in retrospect choosing "internal" as a directory name was unfortunate. It definitely is a goal or Termdash to allow users to implement their own third-party widgets.

The goal was (and is) to indicate that certain API surface of Termdash won't carry backward compatibility guarantee. Specifically the internal helpers won't - they may change at any time

[2020-04-08 21:11] kvnxiao commented on #230
I think a change involving package renaming would be easier to do from your side so that we don't have to go through the PR process over github 😛

[2020-04-09 12:35] mum4k commented on #230
I think that is a fair assessment. Sounds good, I will make the change and push a release shortly.

[2020-04-10 19:46] #228 closed

[2020-04-10 19:48] mum4k commented on #230
This should be all done and pushed to master, please let me know if you encounter any further issues.

[2020-04-10 19:48] #230 closed

[2020-04-13 08:23] godla opened #233 "when i use idea debug model"
open /dev/tty: device not configured

how to fix?

[2020-04-13 14:58] mum4k commented on #233
Hello @godla, I suspect that is because idea debug model doesn't provide termdash with access to a real terminal (/dev/tty is a terminal access device). termdash uses termbox-go to draw on a real terminal.

If you just need to debug something, I would suggest using the fake terminal implementation:

https://github.com/mum4k/termdash/tree/master/private/faketerm

This will allow you to run any code

[2020-04-24 16:16] yyewolf commented on #57
I really would love to see that feature coming ! I would also really need it for my project.

[2020-04-24 17:21] mum4k commented on #57
Thanks for reaching out @yyewolf.

@cayter are you still planning to pull the implementation back to this repository?

[2020-04-25 06:31] cayter commented on #57
@mum4k Yes, sorry for the late reply. My full-time job has been crazy in the last 3 weeks due to Covid19 pandemic. Will try to squeeze some time in the next 1 month to move that over. In case anyone got spare time to do it first, you can have a look into the implementation [here](https://github.com/appist/appy/blob/master/cmd/start.go#L518-L654). The implementation is being used by our internal pr

[2020-04-26 14:10] mum4k commented on #57
There's no rush @cayter, please take your time. I merely wanted to know if this is still on your radar and glad to hear it is.

Thanks for the help!

[2020-04-29 20:13] yaseenhamdulay opened #234 "tcell test cannot run with TERM="""
➜ termdash/tcell/tcell git:(5430f4d) TERM= go test
--- FAIL: TestNewTerminalColorMode (0.01s)
--- FAIL: TestNewTerminalColorMode/default_options (0.01s)
tcell_test.go:52: newTerminal => unexpected error:
exit status 1
panic: runtime error: invalid memory address or nil pointer dereference [recovered]
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentat

[2020-05-11 06:53] godla commented on #233
thanks

[2020-05-11 06:53] #233 closed

[2020-06-20 19:39] #234 closed

[2020-07-15 13:41] thxi opened #237 "Typo"
https://github.com/mum4k/termdash/blob/42f5d613d56338b742f5637c0f0d85854f77d5f0/widgets/button/options.go#L132-L134

The widget responds to this key only if its container **is** focused.

[2020-07-15 13:55] mum4k commented on #237
Thank you for the report, will fix that one shortly.

[2020-07-15 15:29] #237 closed

[2020-07-27 22:08] flaviostutz opened #239 "Widget: Colored panel with text label"
I wish I could create a panel with a colored background and a centered text.

Something like:
![image](https://user-images.githubusercontent.com/7790172/88596962-9a167680-d03c-11ea-8a8e-5cc5ce26a13c.png)

[2020-07-27 22:10] flaviostutz commented on #239
In the example, the bar on the left of the square is a measurement bar that shows the CPU load percent.

[2020-07-28 13:13] flaviostutz opened #240 "Border title for a group of Widgets"
In our application we needed a way to group a bunch of widgets by a border title.
Is there a way to do this? How would I implement this feature in termdash?

Something like

![image](https://user-images.githubusercontent.com/7790172/88670072-046dfc00-d0bb-11ea-8997-a727313d0890.png)

[2020-07-28 14:52] mum4k commented on #240
Hello @flaviostutz, the way to do this in Termdash is to create a hierarchy of containers.

Create a top container with border. The top container will be the only one with a border.
Split the top container horizontally into two sub-containers.
Split each sub-container vertically into two sub-containers.
Place the widgets into the inner four subcontainers.

Splitting of containers to achieve layout

[2020-07-28 16:12] flaviostutz commented on #240
Thanks for the reply! I was searching exactly for this!

The example in the link you mentioned uses the "split" API. Do this works with "grid.RowHeightPerc" API too?

[2020-07-29 01:35] flaviostutz commented on #240
I used the binary tree layout and all went well! Thanks!

[2020-07-29 01:35] #240 closed

[2020-07-29 02:07] mum4k commented on #240
Glad to hear it worked out, the grid layout is just a different abstraction and essentially achieves the same result. It may be a bit more complicated to achieve this with the grid layout, since the grid layout abstracts the intermediate containers and we need to set a border on one of them here.

The binary layout may be the best option to achieve this behavior.

[2020-07-29 02:11] mum4k commented on #239
Hi @flaviostutz, did you try to achieve this behavior with the Gauge widget?

https://godoc.org/github.com/mum4k/termdash/widgets/gauge

The Gauge widget allows text alignment with these two options, so one can center the text:
https://godoc.org/github.com/mum4k/termdash/widgets/gauge#HorizontalTextAlign
https://godoc.org/github.com/mum4k/termdash/widgets/gauge#VerticalTextAlign

Additionally one

[2020-07-29 03:57] flaviostutz commented on #239
Great! I tried with Gauge using 100% as its value and it worked. In the meantime I was using Button with shadow black ;)

Thanks again!

[2020-07-29 03:57] #239 closed

[2020-07-29 15:06] flaviostutz opened #241 "Pass context.Context to Controlller"
I have a case where I need to control the "redraw" timing more accuratelly, so I am using Controller interface and "redraw()", but when closing the program, I am having some trouble and I think it is due to double closing the terminal due to the lack of context control.

I think it would be great for us to pass the context.Context to the controller so that one can control better the execution flow

[2020-07-29 21:22] mum4k commented on #241
Hi @flaviostutz, the code snippets that you filed with the bug are only partial, so I had to guess the rest. I think I managed to recreate the problem. There seem to be two issues here and unless I am mistaken, they are both in the code you pasted. I.e. I didn't find a bug in the termdash code, but please feel free to correct me if I missed anything. Here's what I found:

1) panic: close of closed

[2020-07-30 01:06] flaviostutz commented on #241
Thanks, @mum4k, and sorry for the incomplete code I put at first. You did an excellent job analyzing this!

Let me put the whole code here for a better analysis. I made ir work by "resolving" the last error, but I think there is something wrong or with my code or with termdash.

Here it is:
[code]

See the whole project at https://github.com/flaviostutz/perfstat/blob/master/cli/main.go

[2020-07-30 01:16] flaviostutz opened #242 "How to change instantiation properties during widget redrawing?"
I am creating a monitoring dashboard in which I want to change the color of slackline, for example, depending on other things happening on the system (not the value itself, which is not possible too).

For doing this, I made something very questionable, but it worked:

* During startup, I created the widget instance, placed on the container tree and stored its reference
[code]

* On dashboard upda

[2020-07-30 03:48] mum4k commented on #241
Thank you for pasting the full code. Can you help me understand what you mean by " there is something wrong or with my code or with termdash"?

Is there an error message you can share or an error description?

[2020-07-30 03:57] mum4k commented on #242
I think there may be a simple solution. If you look at the signature of these two functions:

The constructor:
https://github.com/mum4k/termdash/blob/660ef91c201729219ef3a8c513a533af057ec81e/widgets/sparkline/sparkline.go#L52-L53

Method that updates the widget's value:
https://github.com/mum4k/termdash/blob/660ef91c201729219ef3a8c513a533af057ec81e/widgets/sparkline/sparkline.go#L145-L159

You'll

[2020-08-01 17:53] flaviostutz commented on #242
Great! As always, you nailed it!

What about Button? What is the "magic" method for it? Looking at the code I couldn't find. What do you thing about creating a Button.Update(opts ... Option) method?

[2020-08-04 05:20] HouzuoGuo opened #243 "What are the keyboard shortcuts for changing widget focus?"
Good day. This wiki article says:

"Focus can be changed using mouse or keyboard shortcuts." https://github.com/mum4k/termdash/blob/master/doc/hld.md

I'm working with a terminal without mouse support. What are the shortcuts for changing focus? Thanks.

[2020-08-04 05:31] HouzuoGuo commented on #243
BTW - I'm running the "textinputdemo.go", and trying to acquire focus in that text box to type something.

[2020-08-05 01:39] mum4k commented on #242
True, not all widgets provide this functionality consistently. Adding an `Update()` method to the button isn't a bad idea.

The other option would be to do something similar to what you did before (create a new button and replace the old one). There actually is an infrastructure supported way of doing that using the [Dynamic Layout](https://github.com/mum4k/termdash/wiki/Dynamic-layout) feature.

[2020-08-05 02:01] mum4k commented on #243
Hi @HouzuoGuo, thanks for reaching out. The quoted document is actually the design document for termdash, and I am afraid not all part of it were implemented yet. Currently the only way to change the focus is to use a mouse click, this is handled in this library:

https://github.com/mum4k/termdash/blob/master/container/focus.go

We could easily expose a new method on the Container object:

https:/

[2020-08-05 04:34] HouzuoGuo commented on #243
Many thanks!

[2020-08-07 14:45] flaviostutz commented on #242
Great... I tried to create an "Update()" method but the results weren't good, so I would have to to deeper. If you have some time, please take a look at https://github.com/flaviostutz/termdash/blob/%23242-add-opts/widgets/button/button.go on method "ApplyOpts(..)" and pls tell me what's is wrong. In my tests the layout got messed up.

My app has a severe memory leak and I think it is due to the up

[2020-08-07 20:51] mum4k commented on #242
Looking at the `ApplyOpts()` function, the content seems ok, the only problem I see is that it introduces a race condition, because it modifies the state of the button without holding the corresponding lock (mutex). All that is needed is adding the lock/unlock statement at its beginning, i.e.:

[code]

Without knowing more details about why the results weren't good, this may be the best guess I ca

[2020-09-07 00:56] vladimirvivien commented on #5
Hi @mum4k !
Are you actively working on this to get it merge in default branch ?
Table would be a great addition to this great project.  Thanks.

[2020-09-07 00:58] vladimirvivien commented on #5
Never mind, I see the PR - https://github.com/mum4k/termdash/pull/203

[2020-09-07 01:45] mum4k commented on #5
Thanks for reaching out @vladimirvivien, yes there is a PR in progress, but it hasn't had progress for a long time. I am not working on it any moment, nor am I planning to start in the near future.

If anyone wants to pick this up, please feel free to let me know. Otherwise I will update this issue once I pick it up again.

[2020-09-07 12:05] vladimirvivien commented on #5
@mum4k i wish i could jump in to help, unfortunately, time. I was seriously considering a rewrite to use termdash for project. But table was key need. So i will punt to future time.

Nevertheless, termdash is awesome, great api design with symmetrical balance, looking forward to use it in something in future.

[2020-09-07 12:34] mum4k commented on #5
Thank you for the feedback @vladimirvivien, much appreciated.

[2020-09-30 05:58] d-ank opened #245 "Windows console not drawing scroll arrows"
https://github.com/mum4k/termdash/blob/fe3e973531917978dd6d412520528bf10e092087/widgets/text/text.go#L128
https://github.com/mum4k/termdash/blob/fe3e973531917978dd6d412520528bf10e092087/widgets/text/text.go#L147
[These characters are unable to be drawn in the windows console, or at least in the current rendition.](https://i.imgur.com/FwhQTdM.png)
maybe give an option to the text widget to swap the

[2020-10-02 19:10] 1995parham opened #246 "Background Execution"
Is there any way to send a program to the background (with `ctrl + z` for example) then resume it? When I use this key combination on Linux nothing happens. Is there any suggestion for this?

[2020-10-02 19:45] keithknott26 commented on #246
I normally run it inside a screen session which works fine when you open the session back up

[2020-10-03 04:52] 1995parham commented on #246
By screen session, you mean something like `tmux`?

[2020-10-03 05:32] keithknott26 commented on #246
on a linux host you can (provided screen is installed) and type "screen" which will open a new terminal inside your terminal... run your program, and then hit ctrl + a then "d" for detach.   Then your program will run in the background, when you're ready to return to it just type "screen -x "

[2020-10-03 07:32] 1995parham commented on #246
Ok, I have got it. `tmux` is also like that. Thanks for mentioning. :+1:  But in a case that I don't use it can we put it into the background?

[2020-10-04 02:33] mum4k commented on #246
Hi @1995parham and thank you @keithknott26 for providing the useful hint.

The reason ctrl+z doesn't work is that the underlying terminal library (tcell or termbox) captures all keyboard input. So the ctrl+z that is pressed is captured by Termdash instead of making it to the underlying shell that would then suspend the application.

If I remember correctly, what ctrl+z does is that it instructs th

[2020-10-04 02:34] mum4k commented on #245
Hi @d-ank, thank you for the suggestion. I agree that this is a good solution and should be fairly trivial to implement.

Is this something you would be willing to contribute?

[2020-10-04 06:48] #246 closed

[2020-10-09 18:33] alessio opened #247 "terminal is left scrambled when the app exits"
Hi,

One of my colleagues has written a gorgeous terminal-based block explorer application using `termdash`: https://github.com/Tosch110/gex

While testing his application, I've noticed that when the app crashes, the terminal is left in bad state - pretty much as described in this upstream bug https://github.com/nsf/termbox-go/issues/182#issuecomment-424324441.
Generally, I'd love to restore the t

[2020-10-09 20:36] Amirhossein2000 commented on #245
Hi
[code]
Is this as easy as this or I'm wrong?

[2020-10-12 21:57] d-ank commented on #245
Sorry for the delayed response, I will put in a pr in when I am at my desktop.

[2020-10-13 02:21] mum4k commented on #245
@Amirhossein2000 that is the essence of the code change, yes. However if done like this, it would change the default behavior for all the users. What might be better is for us to add an option that would allow the user to specify the character to use in place of the arrows. One example of implementing such option is in the Gauge widget that allows setting a custom Gauge character:

https://github.

[2020-10-13 02:34] mum4k commented on #247
Hi @alessio, thank you for sharing the link to `gex` with me, that looks awesome!

Thank you for reporting this, I agree that it would be ideal if the terminal is correctly returned into the CLI mode even after unexpected crashes. I have a request if I may. Before we deep dive into `termbox-go` and figure out how to recover the terminal during a panic - would you be willing to give `tcell` a try?

[2020-10-13 04:56] d-ank commented on #245
https://github.com/mum4k/termdash/pull/248 Here is the accompanying fix and addition.

[2020-10-15 10:56] alessio commented on #247
Hey @mum4k - thanks for taking the time!

`tcell` does not seem to provide a better experience

[2020-10-15 21:00] mum4k commented on #247
Thank you @alessio for giving `tcell` a try. Since both `termbox-go` and `tcell` have this problem, it is likely that there is some cleanup code we could be calling even on an application panic.

I will look into it and try to identify some improvement. Once we know how to perform a correct cleanup, we can use Go's recover functionality to catch a panic and recover the terminal before finally cras

[2020-10-19 03:54] mum4k commented on #247
@alessio, after looking at this a bit more and reminding myself of how panic handling works in Go, I don't think we have a good solution available. At least not in the infrastructure layer provided by `termdash`. The relevant part of the Go spec:

https://golang.org/ref/spec#Handling_panics

*While executing a function F, an explicit call to panic or a run-time panic terminates the execution of F.

[2020-11-07 22:49] dyc3 opened #249 "Font modifier cell options (bold, italic, underline)"
It's currently not possible to set text as bold, italic, underline, or strikethrough.

| Modifier | ANSI |
|-|-|
| Bold | `\e[1m` |
| Italics | `\e[3m` |
| Underline | `\e[4m` |
| Strikethrough | `\e[9m` |

[2020-11-10 04:47] mum4k commented on #247
Going to close this for now, but please feel free to reopen if you have further questions or ideas how to solve this at the termdash layer.

[2020-11-10 04:47] #247 closed

[2020-11-10 05:27] mum4k commented on #249
This is a good point. Looks like we are in luck and both of our terminal layer libraries support at least some of these attributes (details below). Looks like tcell supports more of them than termbox-go, so this may be a point where we start breaking away from termbox.

termbox-go: https://github.com/nsf/termbox-go/blob/9b52a5faed9e2c795f64459fd13cd179c2b0ab2f/api_common.go#L155-L159
tcell: https:

[2020-11-10 06:32] dyc3 commented on #249
I could give it a shot. If you could point me in the right direction that would help a lot.

[2020-11-11 04:38] mum4k commented on #249
Thank you @dyc3 for the offer of help. I will compile some instructions and pointers and respond here once done.

[2020-11-11 04:48] mum4k commented on #249
Termdash has a core concept - a terminal is essentially a cell buffer, i.e. a 2D matrix of cells. Each cell is represented as the Cell object:

https://github.com/mum4k/termdash/blob/2a7dafa3a835dbe45d9a6eaa2f22e184666c8065/private/canvas/buffer/buffer.go#L36-L43

Notice the cell.Options object which stores options for each cell instance:

https://github.com/mum4k/termdash/blob/2a7dafa3a835dbe45d9

[2020-11-11 07:58] dyc3 commented on #249
I've found that both termbox and tcell don't support italics or strikethrough. I'm guessing that it's because it's not supported by a decent number of terminal emulators, but most of the popular ones seem to support it. Should I just implement this for bold and underline for now until one of the backends supports it?

[2020-11-11 14:24] mum4k commented on #249
If having bold and underline helps you in the meantime, we can start with those. Note that it is also a possibility for us to contribute new functionality to `tcell`. I would expect the author to accept new options assuming they work in the popular terminals.

[2020-11-12 15:21] hi019 opened #250 "Line chart uses blocks instead of lines"
Hi, I'm on Arch Linux and running [this](https://github.com/mum4k/termdash/blob/master/widgets/linechart/linechartdemo/linechartdemo.go) demo from GNOME Terminal. The Line chart font is not displaying correctly, is there a font I need to install?
![demo](https://user-images.githubusercontent.com/65871571/98958995-db8a3f00-24d0-11eb-91ee-2a7880b0b637.png)

[2020-11-12 20:18] dyc3 commented on #249
It turns out tcell already supports italics and strikethrough. We just need to update tcell's version. Will send a PR shortly.

[2020-11-13 06:09] mum4k commented on #250
Thank you for reaching out @hi019. This could be one of two things. It is either that the used font doesn't support unicode characters, or that the used terminal isn't compatible with `termbox-go`.

Can you try running the demo using `tcell` instead? The documentation for `tcell` is here:
https://github.com/mum4k/termdash/wiki/Tcell-API

An example of using `tcell` with `termdash` is here:
https:/

[2020-11-13 16:38] mum4k opened #254 "Update tcell to the latest 2.x version"
Changelog: https://github.com/gdamore/tcell/blob/master/CHANGESv2.adoc

And while we are at it, we can also consider making `tcell` the default in all code examples.

[2020-11-13 16:39] mum4k commented on #249
Thank you for pointing out that `tcell` upgraded to 2.x. I have filed #254 to follow up. Reading their changelog - there are a few breaking changes that we will need to accomodate.

[2020-11-14 07:39] mum4k commented on #254
@dyc3 I got some prep work done (making tcell default, updating documentation), but didn't get to create the PR that updates to 2.x yet.

The next steps should be something like:
1. update the dependency
1. update all import paths
1. verify that none of the [breaking changes](https://github.com/gdamore/tcell/blob/master/CHANGESv2.adoc#breaking-changes-in-tcell-v2) actually break our build and func

[2020-11-14 07:40] mum4k commented on #254
@dyc3 if you choose to work on the PR, please fork from the **devel** branch to avoid conflicts and include the latest changes we made.

[2020-11-14 07:47] mum4k commented on #249
What we are aiming for now is to perform the `tcell` upgrade and add the italics and strikethrough functionality before we push the next release.

However feel free to let me know if you would prefer if we release in the current state to make the changes you contributed available at master.

[2020-11-14 07:48] mum4k commented on #241
Going to close this for inactivity, but please feel free to reopen if you would like to continue the discussion.

[2020-11-14 07:48] #241 closed

[2020-11-14 07:51] dyc3 commented on #254
I'll take a look at it tomorrow. It's currently 3 am where I am and I need sleep haha

[2020-11-14 07:53] mum4k commented on #254
We seem to be in the same timezone, so I can relate...

[2020-11-14 16:37] dyc3 commented on #254
So far I've only updated the import path for tcell to reference v2, and all the tests pass. Seems like a good sign.

[2020-11-14 17:57] mum4k commented on #254
While that is good news, it is likely that it only gives a false sense of security. The unit tests in `termdash` only verify its own logic and only reach up to the [terminalapi](https://github.com/mum4k/termdash/tree/master/terminal/terminalapi). The terminal drivers themselves are abstracted behind a [fake terminal](https://github.com/mum4k/termdash/tree/master/private/faketerm) implementation in

[2020-11-14 21:19] dyc3 commented on #254
Cell options are broken. Nothing has color, and I'm not exactly sure why. Font modifiers still work though. I think the way colors were represented was changed?

[2020-11-14 22:05] mum4k commented on #254
Thanks for catching that, I do remember reading something about color palette changes in the v2 changelog. We may need to update our tcell library to do any necessary translation.

Let me know if you get tired of looking at it, I can check out your branch and try to propose some solutions.

[2020-11-14 22:13] dyc3 commented on #254
I'm kinda stumped.

I think `fixColor` needs to add `tcell.ColorValid` to the color value? When I try that, I get colors back, but they are all wrong.

[2020-11-14 22:19] mum4k commented on #254
I will take a look a bit later tonight and update here. I need to spend some time understanding the change they did to v2.

[2020-11-15 00:39] mum4k commented on #254
I think I understand the problem now and I am fairly convinced this is a bug in our `tcell` library. I will send you a PR branched off your branch that will fix that and also align our color definitions with the standard `tcell` is using. Since that is the official standard. I just need to figure out how to make this backward compatible for the `termbox` users out there.

[2020-11-15 04:48] mum4k commented on #254
The following PR is addressing the color problem: https://github.com/dyc3/termdash/pull/1

The issue was that our tcell library was depending on the **values** of `tcell`'s color constants. We shouldn't have done that, those are internal to their implementation and they did change them when upgrading to v2.

Feel free to merge these commits into your PR, we can push it into the devel branch altoge

[2020-11-15 05:07] dyc3 commented on #254
I'll go ahead and merge that in.

I haven't tested the mouse button stuff yet. I'll look at it in a bit, I'm currently fighting fires on another project.

[2020-11-15 05:22] mum4k commented on #254
Take your time and feel free to let me know if you would like me to take point on this.

[2020-11-15 17:03] dyc3 commented on #254
I've tested mouse inputs on Linux, and they work as expected. I don't have an easy way to test on windows currently.

The function keys also work as expected, however modifiers are not passed along at all. Is this intentional?

[2020-11-15 17:47] mum4k commented on #254
Thank you for testing it, I will give it a go too to confirm later today.

Can you give me a few more details about the modifiers? Do you mean that some of our keys don't work, e.g. `KeyCtrlA`:
https://github.com/mum4k/termdash/blob/2a7dafa3a835dbe45d9a6eaa2f22e184666c8065/keyboard/keyboard.go#L59

Or do you mean that the new support for modifiers added by `tcell` in v2 isn't reflected in our API?

[2020-11-15 17:50] mum4k opened #262 "Include support for key modifiers to match the one in `tcell`"
The `tcell` library added better support for key modifiers:

https://github.com/gdamore/tcell/blob/master/CHANGESv2.adoc
https://github.com/gdamore/tcell/blob/7d87d8188c8d3a236c778107d4925a9b2465a5f6/key.go#L73-L79

We should expand our `terminalapi` package to include these. Related to #254.

[2020-11-15 17:51] mum4k opened #263 "Support for copy & paste"
The `tcell` library seems to have added support for pasting into the terminal. We should investigate of copy&paste can now be supported and add it to termdash.

https://github.com/gdamore/tcell/blob/master/CHANGESv2.adoc

Related to #254 and #220.

[2020-11-15 18:33] dyc3 commented on #254
Oh wait, I see.
The keys like `KeyCtrlA` work, but <kbd>Shift</kbd>+<kbd>F1</kbd> gives `KeyF1`.

We're just missing new functionality. #260 is ready to review

[2020-11-15 19:35] mum4k commented on #254
Yes that would be a missing functionality and is tracked in #262.

The PR looks good, please let me know if you are planning to send one more PR to add italic and strikethrough before we push the release.

[2020-11-16 04:10] mum4k commented on #249
@dyc3 with `tcell` upgraded, do you have the time to send a PR adding support for the remaining font attributes?

[2020-11-16 05:08] dyc3 commented on #249
Yup! Will do

[2020-11-16 05:09] mum4k commented on #249
Great, thank you.

[2020-11-16 06:08] fgksgf opened #265 "Widget: heat map"
Hello, I implemented a heat map widget with termdash in [SkyWalking-CLI](https://github.com/apache/skywalking-cli), like this:
![heatmap](https://user-images.githubusercontent.com/26627380/99217995-4bbbfc00-2814-11eb-8b0f-777ba503c216.png)

I want to contribute it back recently, but I need some time to polish code to make it more general. I think the format of input data should be `[['xlabel', 'yl

[2020-11-16 17:43] fpabl0 commented on #243
Hi @mum4k any updates on this feature? I want to change focus with Tab key.
BTW, great library! Thanks!

[2020-11-17 03:59] mum4k commented on #265
Hi @fgksgf, that heat map widget looks great! If you are willing to contribute it, this would certainly be a good addition to `termdash`.

I will be more than happy to help you with design of the API and code cleanup. It is hard for me to answer questions or provide a suggestions without more context though. My suggestion would be to start by sending a PR with the API only. That is just the functi

[2020-11-17 04:06] mum4k commented on #243
Hi @fpabl0, I think the current status is that we are looking for an owner who would be willing to pick this up and design and implement this feature. Sorry that I wasn't clear about that in my last update. Are you or @HouzuoGuo interested, or would you prefer if try to find the time?

Once we have the owner, we can discuss on how exactly would this feature work. Another idea that comes to mind is

[2020-11-17 05:28] fgksgf commented on #265
No problem, I will do this.
Thanks for your reply.

[2020-11-17 05:36] mum4k commented on #265
Great, thank you for your help!

[2020-11-17 19:52] mum4k commented on #249
Thank you for your help on this feature and with upgrading `tcell` @dyc3. I will push a new release to master shortly.

[2020-11-17 21:11] hi019 commented on #250
Hi, sorry for my late reply. Since this is an issue on my end, I'm going to close this issue and update you if there is anything new. Thanks.

[2020-11-17 21:11] #250 closed

[2020-11-18 04:05] mum4k commented on #250
Thank you @hi019, please don't hesitate to reach out if you will have any questions.

[2020-11-18 04:34] mum4k commented on #254
Resolved by #266.

[2020-11-18 04:34] #254 closed

[2020-11-18 04:34] mum4k commented on #249
Resolved by #266

[2020-11-18 04:34] #249 closed

[2020-11-18 04:35] mum4k commented on #245
Released in #266.

[2020-11-18 04:35] #245 closed

[2020-11-19 04:32] dyc3 commented on #192
I don't think it should just be limited to vertical scrolling, because horizontal scrolling would be nice to have for graphs.

[2020-11-19 04:34] mum4k commented on #192
That is a good point @dyc3, thank you. If we implement this we should allow scrolling in both planes.

[2020-11-19 04:39] dyc3 commented on #192
I think widgets should still receive the width and height of the canvas, except call it a viewport instead, and also provide an x/y offset. This way, widgets would still be in charge of what gets drawn where, and we don't have to worry about really wide or really tall widgets using a lot of memory for their cell buffers.

[2020-11-19 04:44] mum4k commented on #192
Very good points, this would give the control completely to widgets. They would be able to choose if they want to potentially utilise more space than is allocated to them in the container. I also like the obvious memory usage optimisation as you have suggested.

The above approach is applicable when we enable scrolling on a single container that directly contains a widget. What might be worth disc

[2020-11-19 06:20] HouzuoGuo commented on #243
thanks for your work on this library.. though my calendar looks a bit busy throughout December :|

[2020-11-20 04:13] mum4k commented on #243
Thank you for your response @HouzuoGuo and that is not a problem.

[2020-11-21 07:58] dyc3 opened #268 "termdash makes debugging panics difficult"
By default, when a termdash program panics, the panic is not printed to the output.

Is there some way to intercept the panic to print it to a log file?

[2020-11-21 08:04] mum4k commented on #268
Thank you for the question @dyc3. This is remotely related to #247.

The short answer is - I don't think we can do it within `termdash`, because Go only allows recovery from a panic from within the panicking goroutine. The `termdash` infrastructure would only be able to capture panics originating within the `termdash` infrastructure. If you are facing those, we can add something to catch them, but

[2020-11-21 08:12] dyc3 commented on #268
Just panics when I'm developing my own widgets. Mostly index out of bounds mistakes.

When I'm debugging stuff, I've found that the log package does a pretty good job. `log.SetOutput` lets you set a writer to output log messages to, which I direct to a file. For some reason, I'm unable to attach delve to debug my specific application, and I'm not sure why. IIRC, that would catch panics and show th

[2020-11-21 08:17] mum4k commented on #268
The advice about `log.SetOutput` is a good one, I didn't know about it and it likely provides an easier way to setup debugging that the one in the wiki.

Panics originating from widgets actually do originate in `termdash`, so catching the panic there and logging it or similar before exiting would be a viable solution. We could also partially address #247 by catching a panic, resetting the terminal

[2020-11-21 08:25] dyc3 commented on #268
I think it should reset the terminal and reprint the panic in clear.

It looks like the `recover()` builtin recovers from panics, and it returns the error that it panicked with to print out.

[2020-11-21 08:26] dyc3 commented on #268
We could also return the error as an error from `termdash.Run`, letting the user log the error themselves.

[2020-11-21 08:37] mum4k commented on #268
Logging or printing the panic is very likely a good idea. To be clear we would use `recover()` only for the purposes to clear the terminal and then panic again.

Turning a panic into an error (essentially stopping the panicking process) needs more thought. There usually is a reason why the program is panicking and recovery from that state is often impossible or impractical. The program could also

[2020-11-21 08:47] dyc3 commented on #268
Yeah, recovering, printing, and re-panicking sounds like the best option.

[2020-11-21 09:00] mum4k commented on #268
Sounds good. Care should be taken as to where we apply this code. Termdash itself runs a couple of goroutines internally. If we want to recover from panics in the widget's Draw function we need to recover in the goroutine that calls it.

Is this something you would like to look into yourself, or would you prefer if I try to address it? As before I will be happy to provide some code pointers if you

[2020-11-21 17:54] dyc3 commented on #268
I'd prefer if you'd try to address it.

[2020-11-21 17:59] mum4k commented on #268
Sounds good, I'll give it a try.

[2020-11-21 23:39] mum4k commented on #268
@dyc3 I am having some trouble reproducing the problem and hoping you can give me advice.

I have added a `panic()` call directly inside the `Draw()` method of one of the widgets. When the code reaches the `panic()`, it actually correctly closes the terminal and prints the panic in clear. That is because `Draw()` is actually called from the `main` goroutine which is the same one that defers a call

[2020-11-21 23:54] dyc3 commented on #268
Strange... maybe tcell is handling the panics?

The project I'm working on is this: https://github.com/dyc3/teleprompt-studio
The specific widget I was working on: https://github.com/dyc3/teleprompt-studio/blob/main/script_display_widget.go

Causing an index out of bounds panic in that widget's `Draw` will reproduce what I was getting. Maybe it's a different type of panic?

In `main.go`, I'm handl

[2020-11-21 23:56] mum4k commented on #268
Thank you for that. Would you be able to point me to a PR or a branch where I can execute something that directly reproduces the kind of panic we are discussing here? If that is possible, that would help me a lot in trying to address the issue.

[2020-11-22 00:02] dyc3 commented on #268
Sure, I'll throw together a branch

[2020-11-22 00:18] dyc3 commented on #268
The `panic` branch reliably reproduces the behavior I was getting last night. https://github.com/dyc3/teleprompt-studio/tree/panic

Run with
[code]

The log gets outputted to `./debug.log`

[2020-11-22 00:34] mum4k commented on #268
Perfect, I managed to reproduce it. This is a different problem than I thought originally. The terminal actually gets reset to the correct state, but literally nothing gets printed out.

I will poke at it a bit and update with what I found.

[2020-11-22 01:39] mum4k commented on #268
I think understand it now, or well at least have a workable theory. This is (as with most hard to figure out problems) a race condition.

When we follow the call to `StartSession()` in the main:
https://github.com/dyc3/teleprompt-studio/blob/1e0dff3e568431ba3e44b26e783b86b77608e0fd/main.go#L380

We find that a goroutine is created that eventually calls `osutil.CaptureWithCGo()`:
https://github.com

[2020-11-22 01:53] dyc3 commented on #268
`osutil.CaptureWithCGo()` eats both stdout and stderr output from portaudio when it initializes, and lets me redirect it to the log file. If we don't do this, then that output goes directly to the terminal and it messes with the rendering.

It seems like the best thing for me to do is initialize portaudio in the main goroutine. I feel kinda bad for making you debug my program for me haha.

[2020-11-22 01:59] mum4k commented on #268
No worries about that at all @dyc3, I am happy we figured it out. Helping each other is exactly what open source is about. Besides I too am grateful for your contribution to `termdash`.

Yes initializing in the main goroutine before the UI (`termdash`) get started is likely a good solution. It sounds like, at least for now, we don't have anything actionable in `termdash` itself, but please feel fr

[2020-11-22 01:59] #268 closed

[2020-11-22 03:03] mum4k commented on #243
I have some time in the coming few days, so I can give this a try.

If either of you is interested in testing the feature and giving feedback on it before we release it, please let me know. I can update this issue once I have a working prototype.

[2020-11-23 11:33] HouzuoGuo commented on #243
Thanks, you've done a great job with this library so far!

There is a rather old linux utility called "dialog" (https://linux.die.net/man/1/dialog), it is sometimes used by OS installers (e.g. debian forked it) and offers a pretty rich set of UI elements similar to those offered by this library. `/usr/share/doc/dialog/examples/` has some ready-to-run demos to try out the keyboard interaction.

If

[2020-11-24 02:14] mum4k commented on #243
Thank you @HouzuoGuo for mentioning `dialog`. I didn't know about it and it does provide a lot of good inspiration.

The way how keyboard navigation works pretty much aligns with what I had in mind. I will give it a try and update here once we have something ready.

[2020-11-24 06:56] HouzuoGuo commented on #243
lovely, thanks very much!

[2020-11-28 17:21] mum4k opened #275 "Support styling across termdash"
Currently `termdash` mostly supports running on black background. Individual widgets can choose colors of elements on their canvas, but there isn't a good way to change the color of the entire application.

Additionally we could consider adding some effects similar to those used by the Linux `dialog` application.

[code]

This is one example for inspiration:
<img width="547" alt="Screenshot 2020-1

[2020-12-27 06:45] mum4k opened #281 "Termdash crashes on terminal resize with tcell"
Happens when terminal window rapidly downsizes.

[code]

Cannot be reproduced when `termbox` is used.

[2020-12-30 07:40] #281 closed

[2020-12-30 07:42] mum4k commented on #243
This functionality was included in the latest release [v0.14.0](https://github.com/mum4k/termdash/blob/master/CHANGELOG.md). The release includes a demo that shows the newly added keyboard navigation:

[code]

![formdemo](https://user-images.githubusercontent.com/5315344/103337241-9d2ced00-4a48-11eb-8009-e84ef895914e.gif)

Feel free to let me know if there are any missing features or issues.

[2020-12-30 18:03] HouzuoGuo commented on #243
wonderful & happy new year!

[2020-12-31 04:36] mum4k commented on #243
A happy new year to you too. Feel free to reopen this issue in case of any problems with the keyboard navigation feature.

[2020-12-31 04:36] #243 closed

[2020-12-31 04:38] mum4k commented on #1
Duplicate of #243

[2020-12-31 04:38] #1 closed

[2021-01-06 01:32] #73 closed

[2021-02-05 17:29] Ludar-Pavel opened #292 "Allow SplitFixed to set the size of the second container."
## Issue

As per the documentation,
[code]
This allows for simple adaptive design if one wants to fix widgets on the left side or on top of the screen. Fixing a widget on the bottom is comparatively complex, (or entirely simple, but not documented).

It would be a helpful change to allow fixing the second container in splits.

## Proposed API change:

`container.SplitFixed` is to allow numbers fro

[2021-02-06 07:22] mum4k commented on #292
Hi @Ludar-Pavel, I think you raise a very good point here.

Can you help me understand which of the following you are proposing?

a) Allow the split functions to take one **or** the other size as a fixed number, but continue adjusting the other size dynamically according to the available space. I.e. the user can either set the left/top side to a fixed size and the size right/bottom part gets the r

[2021-02-10 17:36] Ludar-Pavel commented on #292
(a) is definitely the goal here - it's hard to imagine how (b) would work with the current way layout is set up.

[2021-02-12 03:39] mum4k commented on #292
Thank you for confirming that @Ludar-Pavel, (a) is definitely workable and we just need to agree on how we make the API change.

Before we do that, can you please indicate if this is something you would be interested in implementing, or if you would prefer I do the implementation?

[2021-02-12 05:29] timbutler opened #293 "Circular / Ring Buffer for Text Widget"
I've started using this for a quick internal project, with one of features being log files monitored and displayed in real-time while other stats are displayed.

While this is working, one issue we've of course hit is when verbose logs are monitored that the size of the text buffer keeps increasing and of course leads to high memory usage and performance degradation.

A possible fix to this is to

[2021-02-12 05:40] mum4k commented on #293
Hi @timbutler, you raise a good point about the memory usage when the `content` of the `Text` widget just grows.

Adding an optional circular buffer sounds like a great idea. Such PR would be a great addition to the `Text` widget, if you're willing to submit it. Please see [CONTRIBUTING.md](https://github.com/mum4k/termdash/blob/master/CONTRIBUTING.md) for additional instructions (e.g. which branc

[2021-02-12 05:53] timbutler commented on #293
Thanks for the rapid feedback @mum4k! I'll tidy my quick edits and submit a PR in the next few days for further feedback.

[2021-02-12 07:32] mum4k commented on #293
Sounds great, looking forward to it @timbutler.

[2021-02-12 16:55] Ludar-Pavel commented on #292
I imagine you doing it would incur less overhead - not very versed in Go myself. Do wish you all the best in implementation, though!

[2021-02-15 04:25] mum4k commented on #292
Thank you @Ludar-Pavel, I will update here once it gets implemented.

[2021-03-30 15:58] aomerk commented on #263
hey @mum4k , looks like its fixed. Works fine with integrated terminal of intellij + zsh

[2021-04-03 16:36] mum4k commented on #263
Thank you for reporting that this works in this terminal type @aomerk. Interestingly enough, this still doesn't seem to work for me on MacOS with iTerm. I can paste, but I cannot select any text to copy. Since I don't really understand why, it may be worthwhile keeping this issue open until we investigate it.

Could you explicitly confirm if you were able to also copy some text from a running Term

[2021-05-18 02:43] markgardner10 commented on #71
Following up to this, I have a question, when clicking into containers with the mouse, that container will get focus, is there some way to monitor these focus events, to update other containers.

ie

Consider 3 text containers with differnet labels A, B, C, clicking into one of those containers, say B, would give it mouse focus, is there some way to monitor those container focus events. so I can p

[2021-05-19 06:23] markgardner10 opened #307 "Tracking container focus"
When you click into a container with the mouse and it gets focus, can other containers poll some event table to track that ?

Im trying to figure out how a container can do some work based on which other container gets focus

Thanks

[2021-05-20 01:42] mum4k commented on #307
Hi @markgardner10, thank you for reaching out. I believe that the functionality you re describing isn't currently available, but shouldn't be too hard to implement it.

To confirm - you would like to have an event subscriber at a particular container? I.e. something similar to this:

https://github.com/mum4k/termdash/blob/9ed371362bfea7c283f50f8ec783e25e7667491a/termdash.go#L74-L81

But with an ab

[2021-05-20 02:33] markgardner10 commented on #307
Best described with a diagram I think

![Blank diagram](https://user-images.githubusercontent.com/1790846/118910272-1c4d8f80-b91c-11eb-8e7d-192be5e8ee42.png)

[2021-05-20 16:39] mum4k commented on #307
Thank you, that indeed helps. I have one more question - are you planning to display anything in the "Display log A", "Display log B" and "Display log C" containers?

One solution that comes to mind is to implement a widget that will display what you want (or nothing if that is desired). However this widget will also react to the focus and any keyboard / mouse events in the containers and perform

[2022-01-18 08:57] post707 opened #318 "How to display the cursor position and color of textinput in Linux environment?"
I use the formdemo
The execution results on Linux are as follows
<img width="380" alt="微信图片_20220118165527" src="https://user-images.githubusercontent.com/20917260/149903729-81de1956-1fed-45d4-81a1-239ba34ab7a8.png">

How to display the cursor position and color of textinput in Linux environment?
Thanks！

[2022-01-19 06:49] mum4k commented on #318
Thank you for reaching out @post707. We have successfully used Termdash on Linux. To be noted, Termdash features heavily depend on the capabilities of the terminal emulator. To be able to utilize them correctly, we need to run in a terminal emulator supported by [tcell](https://github.com/gdamore/tcell).

XTerm and rxvt+ are examples of two terminal emulators that should work well.

[2022-01-19 08:17] post707 commented on #318
Thank you for your answer@mum4k .Is xshell or SecureCRT supported？

[2022-01-20 01:40] post707 commented on #318
I've solved it。Xhell is right by default。secretcrt需要勾选ANSI Color。

[2022-01-20 01:40] #318 closed

[2022-01-20 01:46] mum4k commented on #318
Thank you for sharing the solution @post707.

[2022-03-18 11:26] sayi65 opened #321 "How to use in tview"
Hello, my golang project use tview(https://github.com/rivo/tview)
I would like to put this chat in tview, is there a way?

[2022-03-18 16:42] mum4k commented on #321
Hello @sayi65 and thank you for reaching out.

I am sorry, but I don't understand the question. Can you help me understand what you mean by "put this chat in tview" ?

[2022-03-20 01:19] sayi65 commented on #321
Hello @mum4k

I want to put the barchart in the pages of the tview
I would like to know if there is any way to do this

[2022-03-22 04:35] mum4k commented on #321
Thank you for explaining the question.

I think this would be doable, but you would have to write some API adapters. Looks like `tview` also uses [tcell](https://github.com/rivo/tview/blob/9994674d60a85d2c18e2192ef58195fff743091f/go.mod#L6). Both `tview` and `termdash` take over the entire screen with `tcell`, so they aren't directly compatible. However you could run `tview` and import just the wi

[2022-03-22 11:34] sayi65 commented on #321
@mum4k
Thanks for the response.　

I think I have worked out how to put barchat into tview. However, when I change the screen from barchat to tview, it collapses. The current process is to use the TAB keyboard to change screens. is there any way to clear the barchat?

<img src="https://user-images.githubusercontent.com/8959015/159472477-ecc300a1-3289-4285-b0d9-d6f8ced5684d.png" width="320px">
<img

[2022-03-23 03:20] mum4k commented on #321
@sayi65 thank you for sharing the screenshots.

First we need to ensure that the barchart is no longer periodically drawing itself onto the terminal after we switch away.

Secondly this looks like we may need to instruct `tview` to clear / redraw the entire screen after we switch away form the barchart and stop drawing it. I am not familiar with `tview` and its API. Do you know if `tview` allows s

[2022-03-23 10:24] sayi65 commented on #321
@mum4k thank you for your comment.
Does it occur when transitioning from the barchat to the page on the tview side, so there is a process to clear in the barchat?
Since barchat uses containers, is there a way to clear the containers?
If the following function can clear the screen?

https://github.com/mum4k/termdash/blob/d2b202a0d3b9f8868fefc02a0ead603b09a4de19/container/options.go#L380

[2022-03-24 04:02] mum4k commented on #321
@sayi65 is there any way how you could share the code that produce the images uploaded in the thread? Is there a repository or a branch I could look at?

That might help me to point you to the to a function or a process that would clear the screen.

[2022-03-29 10:38] sayi65 commented on #321
@mum4k
Sorry for the late reply.Since this project is private.　I will modify the code and share it later.

[2022-04-29 23:38] tcurdt commented on #275
I am currently searching for a way to set at least the background color.

[2022-04-30 00:34] tcurdt opened #326 "allow to force background color"
As terminal background might differ the color scheme needs to match.
To avoid this I would like to set background color to black.
I tried this:

	t, err := tcell.New(tcell.ClearStyle(cell.ColorDefault, cell.ColorBlack))

but that doesn't quite do the right thing:

<img width="965" alt="Screenshot 2022-04-30 at 02 32 59" src="https://user-images.githubusercontent.com/13697/166083453-acc12d45-374c-4

[2022-04-30 01:24] tcurdt opened #327 "allow non-adaptive custom scale"
I've set `linechart.YAxisCustomScale(-20, 20)` and I want the position of 0 to always stay at the same place.

Looking at the code, unfortunately ``the LineChart would still rescale the Y axis if a value is encountered that is outside of the range specified here``

To me it seems adaptive should be an entirely separate option.

[code]

[2022-05-03 03:05] mum4k commented on #275
Hi @tcurdt and thank you for you interest in `termdash`. Going to address your question about the background color in #326.

[2022-05-03 03:07] mum4k commented on #326
I did not dig too deep, but after a short experimentation, this looks like a bug. We either aren't correctly propagating the default options back to `tcell`, or `termdash` is overwriting them somewhere later in the execution.

I am marking this as a bug and this currently needs investigation to see where the problem is. @tcurdt are you interested in / do you have the time to investigate this?

[2022-05-03 03:11] mum4k commented on #327
Agreed, in retrospect tying these two options together was ill-advised. We could try to address this by providing a new option `YScaleModeAnchored` that will set the Y axis mode back to Anchored. We would have to also add a unit test to confirm this actually works. The code is likely to crash since the current implementation might be depending on the fact that the axis adapts, so some minor change

[2022-05-03 08:08] tcurdt commented on #326
I'll see if I can find the time. But it's good to know that you consider it a bug and are willing to accept a PR.

[2022-05-03 08:20] tcurdt commented on #327
I am sure I could add the option. Just not sure about the changes need deeper in the stack.

[2022-05-05 03:56] mum4k commented on #326
Thank you for reporting this @tcurdt. Sounds good, I will also keep an eye on this in case I find some time.

[2022-05-05 03:57] mum4k commented on #327
I would start by just adding the option and a test case that verifies how it behaves. If we are lucky, it will just work. If it won't, I can help dissect the code on the PR that is adding the option.

[2022-06-28 06:46] icy-comet opened #328 "add dim text style as cell.Option"
I noticed that `termdash/cell` maps one-to-one to the styles provided by the `tcell` API.
https://github.com/mum4k/termdash/blob/f13e4222fa62b251e937fa2a00ffab003d814f13/terminal/tcell/cell_options.go#L59-L75

However, the ["dim" style from the tcell package](https://pkg.go.dev/github.com/gdamore/tcell/v2#Style.Dim) is missing from this mapping.  If this is not a deliberate decision, adding the st

[2022-06-30 19:08] mum4k commented on #328
Hi @icy-comet, thank you for pointing this out. I suspect this is because the "dim" style isn't supported by [termbox](https://github.com/nsf/termbox), which was the initial terminal driver termdash was built upon. We can add the "dim" style and just make the appropriate disclaimers and error messages when termbox is being used.

Is this something you are interested in contributing?

[2022-07-08 04:14] #328 closed

[2022-07-08 04:46] icy-comet opened #332 "adding text styles has no effect"
I am on the `devel` branch of `termdash` and I passed 5 different styles with `text.WriteCellOpts` to the `text.Write` call for testing the result. Except, I found only the `blink` style to be working, as seen in the attached image.

![image](https://user-images.githubusercontent.com/50461557/177916937-3042b9f8-fc1f-48b3-8262-4f4a595a8d62.png)

Is this an implementation issue at `termdash`'s end o

[2022-07-08 07:07] icy-comet commented on #332
I just tested the same program inside WSL, and all the styles work fine with the Linux build.

[2022-07-08 14:22] mum4k commented on #332
Thank you for reporting this @icy-comet, considering this works in Linux, chances are the problem is in upstream `tcell`. We could start by verifying if the `tcell` support works as expected by running `tcell` natively without `termdash` on windows and selecting these options.

@icy-comet please indicate if you are interested in looking into this issue.

[2022-07-10 05:44] icy-comet commented on #332
It seems like it @mum4k.

I just put together a test file according to `tcell`'s [getting started guide](https://github.com/gdamore/tcell/blob/master/TUTORIAL.md) for 4 styles — `italic`, `bold`, `blink` and `dim`.

Here are the results:
- Windows + Windows Terminal + Powershell - only the `blink` style works
    ![image](https://user-images.githubusercontent.com/50461557/178132918-a648a20d-9dd2-4

[2022-07-10 05:58] icy-comet commented on #332
I just opened an issue describing this at `tcell`'s issue tracker: gdamore/tcell#539

[2022-07-14 03:58] mum4k commented on #332
Thank you for following up upstream @icy-comet.

[2022-07-14 22:19] tcurdt commented on #326
OK, since I soon need this to work I started poking a bit.

It seems like clear sets the background color correctly - but [on the draw](https://github.com/mum4k/termdash/blob/master/container/draw.go#L89) there is no mention of a background color.

When I set the bg color explicitly on the linechart there is some improvement

		linechart.AxesCellOpts(cell.FgColor(cell.ColorRed), cell.BgColor(cell.

[2022-07-14 22:49] tcurdt commented on #327
It seems there already is an `YScaleModeAnchored` on the axes - which just isn't exposed.

https://github.com/mum4k/termdash/blob/master/widgets/linechart/internal/axes/scale.go#L46

I know it would be a breaking change, but frankly speaking just

[code]

would make so much more sense.

And it would just require to add `YAxisAdaptive` as another option to get back to the old behaviour.

[2022-07-14 23:06] tcurdt commented on #327
Hm. Odd. Even this refuses to work. Still expands beyond the min/max.

[code]

[2022-07-14 23:25] tcurdt commented on #327
Seems like this also need to change

https://github.com/mum4k/termdash/blob/master/widgets/linechart/linechart.go#L174

but then the draw panics

[code]

[2022-07-15 04:04] mum4k commented on #327
Sorry it would be great if I could be more helpful, but I am afraid I forgot all the details of the code in question.

Setting a custom scale may need more code changes, because this either breaks some assumptions or simply triggers a bug when the scale is set manually.

I think you likely picked this up from the error message above - when the custom scale was set, the code attempted to place a po

[2022-07-15 04:09] mum4k commented on #326
Thank you for looking into this. I think you are right, the container simply doesn't forward nor does it inherit the background color cell attribute. Looks like I completely forgot about it when writing that portion. Forwarding it through the layer is the first thing we should do, however that will only fix the problem for the cells that are drawn by the container and not overwritten by the widget

[2022-07-15 09:35] tcurdt commented on #326
I would have assumed every container and widget has in some way access to the terminal (and with that to the colors)

https://github.com/mum4k/termdash/blob/master/terminal/tcell/cell_options.go#L60

If so the most low hanging fruit would be to use the background color of the terminal when drawing the widgets (and bypassing the inheritance).

But unfortunately I am still struggling with the intern

[2022-07-15 09:45] tcurdt commented on #327
This seems to be already covered by the existing tests:

[code]
Here the test of course still expresses the wrong expectations.

[2022-07-18 10:39] tcurdt commented on #327
I guess this something I could work around by limiting the input data - not great but a workaround.
If I find a way to disallow the zooming via mouse.

[2022-07-18 10:41] tcurdt commented on #326
I am OK to do the leg work, but if you have some guidance here that would be much appreciated. Feeling a little stuck.

[2022-07-18 14:41] mum4k commented on #326
@tcurdt I am happy to help and discuss. Only the container does have direct access to the [terminal](https://github.com/mum4k/termdash/blob/9954a0543ed738c7ccb78ecd8eaed8e21db6ae7e/container/container.go#L50), but neither the container nor the widgets draw on the terminal directly. There is an abstraction called [Canvas](https://github.com/mum4k/termdash/blob/9954a0543ed738c7ccb78ecd8eaed8e21db6ae

[2022-07-18 14:44] mum4k commented on #327
@tcurdt I would like to help advise here, but I am having a hard time figuring out the current state of things. Would you mind summarizing the current behavior Vs. the desired one?

[2022-07-18 15:27] tcurdt commented on #327
Alright - the summary is as follows:

- the assignment of `opts.yAxisMode = axes.YScaleModeAdaptive` should be just removed (unfortunately that does not make it just work)
- removing (or temporarily setting `opts.yAxisMode = axes.YScaleModeAnchored`) already does show up in the tests as error
- a work around is to enforce the min/max range before handing it to the widget
- the work around falls sh

[2022-07-18 16:39] tcurdt commented on #327
Ah! OK, well, I think it would be nice to be able to disable zooming - but that's really for another ticket I guess.
The idea was just to limit the data myself. So if the user is not able to zoom (s)he wouldn't notice the difference.
It was just an idea of a quick work around.

My use case: I assume you know what an oscilloscope is? I want to implement something similar.
For this it's important th

[2022-07-18 18:04] tcurdt commented on #327
I still think [`YAxisCustomScale`](https://github.com/mum4k/termdash/blob/master/widgets/linechart/options.go#L153) is very much mixing concerns with [`YAxisAdaptive`](https://github.com/mum4k/termdash/blob/master/widgets/linechart/options.go#L129).
And it seems like [`XAxisUnscaled`](https://github.com/mum4k/termdash/blob/master/widgets/linechart/options.go#L174) would also somehow suggest `YAxis

[2022-07-19 01:40] mum4k commented on #327
Sorry for not being clear, I do agree with you that [YAxisCustomScale](https://github.com/mum4k/termdash/blob/master/widgets/linechart/options.go#L153) is mixing concerns. Please do keep the suggestions coming, this is how we make better software together.

My concern is about breaking a behavior that someone out there might depend on regardless how weird the behavior is in retrospect. Or rather I

[2022-07-19 01:54] tcurdt commented on #327
That certainly would be the path of good engineering. That said, I've seen [other breaking changes in the release notes](https://github.com/mum4k/termdash/releases/tag/v0.14.0) and the version is pre-1.0. The fix would essentially be a trivial "add this option". So I figured...

But if you want to treat your users well, deprecating certainly is the better way to go! Totally agree.

Taking a step b

[2022-07-19 02:07] mum4k commented on #327
Sorry I think I need to clarify one more detail. Breaking changes are indeed ok all the way until we get into post 1.0. What I am trying to prevent is a silent behavior breakage. I.e. it is ok (if we have to) to break code in a way that makes the compiler complain, as that makes users look at the changelog. However a silent change of behavior on an already established option is what I think we sho

[2022-07-19 10:35] tcurdt commented on #327
That's fair.

Maybe it's better I start with a simpler version then and see if they somehow converge.

[2022-08-11 14:29] Ankur-deDev opened #335 "bar chart with signed values"
Hi,
I am trying to create a bar chart with both negative and positive values, is it supported?
Thanks for your help

[2022-08-12 12:17] mum4k commented on #335
I think the bar chart only supports positive values currently. At least [this test case](https://github.com/mum4k/termdash/blob/9954a0543ed738c7ccb78ecd8eaed8e21db6ae7e/widgets/barchart/barchart_test.go#L114-L127) seems to be suggesting so.

New code would be needed to support negative values and combinations of those.

[2022-10-14 20:47] kmulvey opened #339 "panic: unknown tcell event type: <nil>"
I get this error every time I try to quit (by pressing 'q'). It also leaves the terminal window in an unusable state. Where do i start debugging this? The stack trace doesnt even list any of my code.

[code]
Full code is here:  https://github.com/kmulvey/text2speech/blob/main/dashboard.go

[code]

[2022-11-18 02:59] marianina8 opened #340 "Place two buttons one onto of each other"
It seems like the buttons overlap each other because only one button shows up in the container when I use this code:
[code]

[2022-11-18 03:00] #340 closed